/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 171, ../sass/screen.scss */
body {
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  margin: 0;
  font-size: 18px;
  color: #001f41;
}

/* line 178, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 181, ../sass/screen.scss */
.container {
  max-width: 1700px;
  margin: auto;
}

/* line 185, ../sass/screen.scss */
.img_responsive {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

/* line 191, ../sass/screen.scss */
.my_btn {
  font-size: 14px;
  line-height: 1.2;
  display: inline-block;
  position: relative;
  border: 1px solid #fff;
  width: 100%;
  max-width: 185px;
  text-align: center;
  cursor: pointer;
  transition: all .2s linear;
  padding: 8px 10px;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden;
  z-index: 0;
  margin-top: 30px;
  position: relative;
}
/* line 150, ../sass/screen.scss */
.my_btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: initial;
  right: 0;
  width: 0;
  height: 100%;
  background: #ffffff;
  transition: all .3s linear;
  z-index: -1;
}
/* line 162, ../sass/screen.scss */
.my_btn:hover {
  color: #000000;
}
/* line 164, ../sass/screen.scss */
.my_btn:hover::before {
  right: initial;
  left: 0;
  width: 100%;
}
/* line 211, ../sass/screen.scss */
.my_btn::before {
  background: #fff;
}
/* line 214, ../sass/screen.scss */
.my_btn:hover {
  color: #000;
}

/* line 218, ../sass/screen.scss */
h1 {
  display: inline-block;
  font-size: 60px;
  color: #ffffff;
  font-weight: 400;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 3px solid #fff;
}

/* line 230, ../sass/screen.scss */
h2 {
  text-align: center;
  font-size: 44px;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 0;
  font-weight: 400;
  color: #4d606f;
  position: relative;
  padding-bottom: 30px;
}
/* line 240, ../sass/screen.scss */
h2:after {
  content: '';
  background: url(../images/icon-2.png) center no-repeat;
  width: 92px;
  height: 8px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -46px;
}

/* line 252, ../sass/screen.scss */
h3 {
  font-size: 44px;
  line-height: 1;
  margin: 0;
}

/* line 257, ../sass/screen.scss */
h4 {
  font-size: 20px;
  margin: 0;
  color: #D0F00A;
}

/* line 262, ../sass/screen.scss */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
  width: 100%;
  min-height: 40px;
  z-index: 2;
}
/* line 273, ../sass/screen.scss */
header .container {
  position: relative;
  padding: 10px 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 280, ../sass/screen.scss */
header .container .logo {
  display: block;
}
/* line 282, ../sass/screen.scss */
header .container .logo .strong {
  float: left;
  text-align: left;
}
/* line 285, ../sass/screen.scss */
header .container .logo .strong img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 50px;
}
/* line 291, ../sass/screen.scss */
header .container .logo .strong .logo_text {
  display: inline-block;
  max-width: 110px;
  vertical-align: bottom;
}
/* line 295, ../sass/screen.scss */
header .container .logo .strong .logo_text p {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.2;
  font-family: "Times New Roman", sans-serif;
}
/* line 306, ../sass/screen.scss */
header .container .logo .strong .head {
  text-transform: uppercase;
  font-weight: 900;
}
/* line 311, ../sass/screen.scss */
header .container .logo .strong .text:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: url(../images/hammer.png);
  background-repeat: no-repeat;
}
/* line 327, ../sass/screen.scss */
header .container nav {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}
/* line 333, ../sass/screen.scss */
header .container nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 337, ../sass/screen.scss */
header .container nav ul li {
  display: inline-block;
}
/* line 339, ../sass/screen.scss */
header .container nav ul li a {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  padding: 5px 0px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  background: transparent;
}
/* line 131, ../sass/screen.scss */
header .container nav ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: initial;
  right: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: all .3s linear;
}
/* line 142, ../sass/screen.scss */
header .container nav ul li a:hover::before {
  right: initial;
  left: 0;
  width: 100%;
}
/* line 351, ../sass/screen.scss */
header .container nav ul li:not(:last-of-type) a {
  margin-right: 20px;
}
/* line 357, ../sass/screen.scss */
header .container .box_callback {
  text-align: right;
}
/* line 359, ../sass/screen.scss */
header .container .box_callback .box_tel {
  text-align: center;
}
/* line 361, ../sass/screen.scss */
header .container .box_callback .box_tel .tel {
  color: #ffffff;
  text-decoration: none;
  position: relative;
}
/* line 131, ../sass/screen.scss */
header .container .box_callback .box_tel .tel::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: initial;
  right: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: all .3s linear;
}
/* line 142, ../sass/screen.scss */
header .container .box_callback .box_tel .tel:hover::before {
  right: initial;
  left: 0;
  width: 100%;
}
/* line 369, ../sass/screen.scss */
header .container .burger {
  display: none;
  position: absolute;
  top: 0;
  right: 25px;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -o-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  width: 42px;
  height: 35px;
  cursor: pointer;
  overflow: hidden;
}
/* line 384, ../sass/screen.scss */
header .container .burger span {
  position: absolute;
  left: 12px;
  top: 19px;
  text-indent: 9900px;
  width: 26px;
  height: 1px;
  background: #fff;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
/* line 395, ../sass/screen.scss */
header .container .burger:before,
header .container .burger:after {
  content: '';
  position: absolute;
  left: 12px;
  top: 12px;
  width: 26px;
  height: 1px;
  background: #fff;
  -webkit-transition: -webkit-transform .2s ease-out, top .2s .2s ease-out;
  transition: transform .2s ease-out, top .2s .2s ease-out;
}
/* line 407, ../sass/screen.scss */
header .container .burger:after {
  top: 26px;
}
/* line 412, ../sass/screen.scss */
header .menu-opened .burger:before,
header .menu-opened .burger:after {
  top: 19px;
  -webkit-transition: top .2s ease-out, -webkit-transform .2s .2s ease-out;
  transition: top .2s ease-out, transform .2s .2s ease-out;
}
/* line 418, ../sass/screen.scss */
header .menu-opened .burger:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 423, ../sass/screen.scss */
header .menu-opened .burger:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 428, ../sass/screen.scss */
header .menu-opened .burger span {
  opacity: 0;
  -webkit-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3);
}

/* line 436, ../sass/screen.scss */
.header-scroll {
  background: #000;
}
/* line 439, ../sass/screen.scss */
.header-scroll .container {
  padding: 0px 20px;
}

/* line 444, ../sass/screen.scss */
.section-1 .box_content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 10px;
}
/* line 450, ../sass/screen.scss */
.section-1 .box_content .bg_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 456, ../sass/screen.scss */
.section-1 .box_content .box_text {
  position: relative;
  margin: 15% auto 10% 3%;
  max-width: 430px;
}
/* line 461, ../sass/screen.scss */
.section-1 .box_content .title {
  font-size: 30px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 24px 0 0;
  font-family: 'Roboto Condensed', sans-serif;
}
/* line 468, ../sass/screen.scss */
.section-1 .box_content .p-1 {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
/* line 474, ../sass/screen.scss */
.section-1 .box_content .box-bottom {
  position: relative;
  padding: 10px;
  margin-bottom: 7%;
}
/* line 478, ../sass/screen.scss */
.section-1 .box_content .box-bottom .arrow {
  display: block;
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  top: 50%;
  margin: auto;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
  position: relative;
  z-index: 1;
}
/* line 495, ../sass/screen.scss */
.section-1 .box_content .box-bottom .arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  margin: -10px 0 0 10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
  }
}
/* line 525, ../sass/screen.scss */
.section_service {
  padding: 120px 20px;
}
/* line 527, ../sass/screen.scss */
.section_service .box_content {
  max-width: 1500px;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 14, ../sass/screen.scss */
.section_service .box_content .box_left,
.section_service .box_content .box_right {
  width: 50%;
}
/* line 531, ../sass/screen.scss */
.section_service .box_content .box_left {
  width: 40%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 535, ../sass/screen.scss */
.section_service .box_content .box_left .box_text {
  max-width: 550px;
}
/* line 538, ../sass/screen.scss */
.section_service .box_content .box_left .box_text p {
  font-size: 22px;
}
/* line 543, ../sass/screen.scss */
.section_service .box_content .box_right {
  width: 60%;
}
/* line 545, ../sass/screen.scss */
.section_service .box_content .box_right .box {
  position: relative;
  overflow: hidden;
  width: 700px;
  margin: auto;
  height: 514px;
}
/* line 551, ../sass/screen.scss */
.section_service .box_content .box_right .box video {
  min-width: 100%;
  height: 100%;
}
/* line 555, ../sass/screen.scss */
.section_service .box_content .box_right .box::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 174, 239, 0.7);
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 571, ../sass/screen.scss */
.section-2,
.section-4 {
  position: relative;
  overflow: hidden;
}
/* line 575, ../sass/screen.scss */
.section-2 .box_content,
.section-4 .box_content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 14, ../sass/screen.scss */
.section-2 .box_content .box_left,
.section-2 .box_content .box_right,
.section-4 .box_content .box_left,
.section-4 .box_content .box_right {
  width: 50%;
}
/* line 577, ../sass/screen.scss */
.section-2 .box_content .box_left,
.section-4 .box_content .box_left {
  width: 64%;
}
/* line 579, ../sass/screen.scss */
.section-2 .box_content .box_left .box_img,
.section-4 .box_content .box_left .box_img {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}
/* line 582, ../sass/screen.scss */
.section-2 .box_content .box_left .box_img img,
.section-4 .box_content .box_left .box_img img {
  display: block;
  height: 650px;
  width: auto;
}
/* line 589, ../sass/screen.scss */
.section-2 .box_content .box_right,
.section-4 .box_content .box_right {
  width: 36%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 595, ../sass/screen.scss */
.section-2 .box_content .box_text,
.section-4 .box_content .box_text {
  max-width: 80%;
}
/* line 597, ../sass/screen.scss */
.section-2 .box_content .box_text p,
.section-4 .box_content .box_text p {
  font-size: 16px;
}

/* line 603, ../sass/screen.scss */
.section-3,
.section-5 {
  position: relative;
  overflow: hidden;
}
/* line 607, ../sass/screen.scss */
.section-3 .box_left,
.section-5 .box_left {
  width: 35%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 612, ../sass/screen.scss */
.section-3 .box_left .box_text,
.section-5 .box_left .box_text {
  max-width: 80%;
}
/* line 616, ../sass/screen.scss */
.section-3 .box_right,
.section-5 .box_right {
  width: 65%;
}
/* line 618, ../sass/screen.scss */
.section-3 .box_right .box_img,
.section-5 .box_right .box_img {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}
/* line 622, ../sass/screen.scss */
.section-3 .box_right .box_img img,
.section-5 .box_right .box_img img {
  display: block;
  height: 650px;
  width: auto;
}
/* line 629, ../sass/screen.scss */
.section-3 .box_content,
.section-5 .box_content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-basis: 100%;
  -ms-flex-basis: 100%;
  flex-basis: 100%;
}
/* line 635, ../sass/screen.scss */
.section-3 .box_content .box_text p,
.section-5 .box_content .box_text p {
  font-size: 16px;
}

/* line 641, ../sass/screen.scss */
.section-2 {
  background: #fff;
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
}

/* line 651, ../sass/screen.scss */
.section-3 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}
/* line 656, ../sass/screen.scss */
.section-3::after {
  content: none;
}

/* line 661, ../sass/screen.scss */
.section-4 {
  background: #260e66;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}
/* line 667, ../sass/screen.scss */
.section-4::after {
  content: '';
  background: linear-gradient(to bottom, transparent, #dcfaff);
}
/* line 671, ../sass/screen.scss */
.section-4::before {
  content: none;
}
/* line 677, ../sass/screen.scss */
.section-4 .box_content .box_left .box_img {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
/* line 682, ../sass/screen.scss */
.section-4 .box_content .box_text h3 {
  color: #ffffff;
}
/* line 685, ../sass/screen.scss */
.section-4 .box_content .box_text p {
  color: #ffffff;
}

/* line 691, ../sass/screen.scss */
.section-5 {
  background: #dcfaff;
  background-repeat: no-repeat;
  background-position: calc(100% - 10%) center;
  background-size: 50%;
}
/* line 699, ../sass/screen.scss */
.section-5 .box_right {
  padding: 50px 0;
}
/* line 702, ../sass/screen.scss */
.section-5 .box_right .box_img img {
  height: 550px;
}
/* line 707, ../sass/screen.scss */
.section-5::before {
  content: none;
}

/* line 712, ../sass/screen.scss */
.section_portfolio .box_content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 715, ../sass/screen.scss */
.section_portfolio .box_content .box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-basis: 33.33%;
  -ms-flex-basis: 33.33%;
  flex-basis: 33.33%;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  padding: 20px;
  height: 350px;
  position: relative;
  border: 1px solid rgba(3, 43, 252, 0.2);
}
/* line 726, ../sass/screen.scss */
.section_portfolio .box_content .box:hover .box_logo img,
.section_portfolio .box_content .box:hover .box_logo svg {
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
/* line 736, ../sass/screen.scss */
.section_portfolio .box_content .box .box_logo {
  margin-bottom: 50px;
}
/* line 738, ../sass/screen.scss */
.section_portfolio .box_content .box .box_logo img,
.section_portfolio .box_content .box .box_logo svg {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: auto;
  height: auto;
  transition: all .6s linear;
}
/* line 748, ../sass/screen.scss */
.section_portfolio .box_content .box .box_text {
  text-align: center;
  padding: 20px 0 10px;
}
/* line 751, ../sass/screen.scss */
.section_portfolio .box_content .box .box_text p {
  margin: 10px 0 0;
  color: #ffffff;
}
/* line 756, ../sass/screen.scss */
.section_portfolio .box_content .box .box_hide {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  opacity: 0;
  transition: opacity 1s linear;
}
/* line 767, ../sass/screen.scss */
.section_portfolio .box_content .box .box_hide img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 773, ../sass/screen.scss */
.section_portfolio .box_content .box .link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 779, ../sass/screen.scss */
.section_portfolio .box_content .box .link::-webkit-scrollbar {
  width: 5px;
}
/* line 782, ../sass/screen.scss */
.section_portfolio .box_content .box .link::-webkit-scrollbar-thumb {
  background: #000000;
}
/* line 787, ../sass/screen.scss */
.section_portfolio .box_content .box:hover .box_hide {
  z-index: 1;
  opacity: 1;
}
/* line 793, ../sass/screen.scss */
.section_portfolio .box_content .box_romax {
  background: #020A23;
}
/* line 796, ../sass/screen.scss */
.section_portfolio .box_content .box_personal {
  background: #020A23;
}
/* line 798, ../sass/screen.scss */
.section_portfolio .box_content .box_personal .box_logo img {
  max-width: 320px;
}
/* line 802, ../sass/screen.scss */
.section_portfolio .box_content .box_carlamp {
  background: #020A23;
}
/* line 804, ../sass/screen.scss */
.section_portfolio .box_content .box_carlamp .box_logo svg {
  max-width: 320px;
}
/* line 808, ../sass/screen.scss */
.section_portfolio .box_content .box_water {
  background: #020A23;
}
/* line 810, ../sass/screen.scss */
.section_portfolio .box_content .box_water .box_logo img {
  max-width: 100px;
}
/* line 814, ../sass/screen.scss */
.section_portfolio .box_content .box_amuaj {
  background: #020A23;
}
/* line 816, ../sass/screen.scss */
.section_portfolio .box_content .box_amuaj .box_logo img {
  max-width: 150px;
}
/* line 820, ../sass/screen.scss */
.section_portfolio .box_content .box_barcelona {
  background: #020A23;
}
/* line 823, ../sass/screen.scss */
.section_portfolio .box_content .box_edison-group {
  background: #020A23;
}
/* line 825, ../sass/screen.scss */
.section_portfolio .box_content .box_edison-group .box_logo img {
  max-width: 105px;
}
/* line 829, ../sass/screen.scss */
.section_portfolio .box_content .box_heliport {
  background: #020A23;
}
/* line 831, ../sass/screen.scss */
.section_portfolio .box_content .box_heliport .box_logo img {
  max-width: 150px;
}
/* line 835, ../sass/screen.scss */
.section_portfolio .box_content .box_podpotolkom {
  background: #020A23;
}
/* line 837, ../sass/screen.scss */
.section_portfolio .box_content .box_podpotolkom .box_logo img {
  max-width: 150px;
}

/* line 843, ../sass/screen.scss */
.section_price {
  background: linear-gradient(215deg, #e446ff, #2a1058);
  position: relative;
  padding: 100px 10px;
}
/* line 847, ../sass/screen.scss */
.section_price .box_content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 14, ../sass/screen.scss */
.section_price .box_content .box_left,
.section_price .box_content .box_right {
  width: 50%;
}
/* line 849, ../sass/screen.scss */
.section_price .box_content .box_left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 853, ../sass/screen.scss */
.section_price .box_content .box_left .box_text {
  max-width: 550px;
  color: #ffffff;
}
/* line 856, ../sass/screen.scss */
.section_price .box_content .box_left .box_text ul {
  list-style-type: none;
}
/* line 858, ../sass/screen.scss */
.section_price .box_content .box_left .box_text ul li {
  background-image: url(../images/icon-3.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14px;
  padding-left: 20px;
}
/* line 864, ../sass/screen.scss */
.section_price .box_content .box_left .box_text ul li:not(:last-of-type) {
  margin-bottom: 5px;
}
/* line 871, ../sass/screen.scss */
.section_price .box_content .box_right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 878, ../sass/screen.scss */
.section_contacts {
  max-width: 900px;
  margin: auto;
  padding: 100px 10px;
}
/* line 882, ../sass/screen.scss */
.section_contacts h3 {
  text-align: center;
}
/* line 885, ../sass/screen.scss */
.section_contacts .box_content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 80px;
}
/* line 14, ../sass/screen.scss */
.section_contacts .box_content .box_left,
.section_contacts .box_content .box_right {
  width: 50%;
}
/* line 888, ../sass/screen.scss */
.section_contacts .box_content .box_left {
  text-align: center;
}
/* line 890, ../sass/screen.scss */
.section_contacts .box_content .box_left .box_tel {
  max-width: 300px;
  margin: auto;
}
/* line 893, ../sass/screen.scss */
.section_contacts .box_content .box_left .box_tel a {
  display: inline-block;
  text-decoration: none;
  color: #001f41;
  font-size: 28px;
}
/* line 898, ../sass/screen.scss */
.section_contacts .box_content .box_left .box_tel a:not(:last-of-type) {
  margin-bottom: 20px;
}
/* line 903, ../sass/screen.scss */
.section_contacts .box_content .box_left .box_messendger {
  margin-top: 30px;
}
/* line 905, ../sass/screen.scss */
.section_contacts .box_content .box_left .box_messendger a {
  display: inline-block;
  width: 35px;
  height: 35px;
}
/* line 909, ../sass/screen.scss */
.section_contacts .box_content .box_left .box_messendger a:not(:last-of-type) {
  margin-right: 15px;
}
/* line 913, ../sass/screen.scss */
.section_contacts .box_content .box_left .box_messendger .viber {
  background-image: url(../images/viber.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
}
/* line 919, ../sass/screen.scss */
.section_contacts .box_content .box_left .box_messendger .telegram {
  background-image: url(../images/telegram.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 927, ../sass/screen.scss */
.section_contacts .box_content .box_right form {
  max-width: 300px;
  margin: auto;
}
/* line 931, ../sass/screen.scss */
.section_contacts .box_content .box_right form .box_input:not(:last-of-type) {
  margin-bottom: 20px;
}
/* line 934, ../sass/screen.scss */
.section_contacts .box_content .box_right form .box_input input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #001f41;
}
/* line 940, ../sass/screen.scss */
.section_contacts .box_content .box_right form .box_input input::placeholder {
  color: #001f41;
}
/* line 945, ../sass/screen.scss */
.section_contacts .box_content .box_right form .box_submit {
  position: relative;
}
/* line 947, ../sass/screen.scss */
.section_contacts .box_content .box_right form .box_submit::before {
  content: '';
  background: #c5c5c5b3;
  position: absolute;
  bottom: 0;
  left: 0;
  right: initial;
  width: 100%;
  height: 100%;
  transition: all .3s linear;
  z-index: -1;
}
/* line 959, ../sass/screen.scss */
.section_contacts .box_content .box_right form .box_submit::after {
  content: '';
  background: #000;
  position: absolute;
  bottom: 0;
  left: initial;
  right: 0;
  width: 0%;
  height: 100%;
  transition: all .3s linear;
  z-index: -1;
}
/* line 971, ../sass/screen.scss */
.section_contacts .box_content .box_right form .box_submit .input_submit {
  background: transparent;
  cursor: pointer;
  transition: all .2s linear;
}
/* line 976, ../sass/screen.scss */
.section_contacts .box_content .box_right form .box_submit:hover {
  color: #000000;
}
/* line 978, ../sass/screen.scss */
.section_contacts .box_content .box_right form .box_submit:hover::before {
  right: 0;
  left: initial;
  width: 0%;
}
/* line 983, ../sass/screen.scss */
.section_contacts .box_content .box_right form .box_submit:hover::after {
  right: initial;
  left: 0;
  width: 100%;
}
/* line 988, ../sass/screen.scss */
.section_contacts .box_content .box_right form .box_submit:hover .input_submit {
  color: #ffffff;
}

/* line 997, ../sass/screen.scss */
footer {
  padding: 30px 10px;
  background: #000000;
}
/* line 1001, ../sass/screen.scss */
footer .container p {
  max-width: 530px;
  margin: auto;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

/* line 1010, ../sass/screen.scss */
#toTop {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 39px;
  height: 40px;
  border-radius: 15px;
  background: #fff;
  cursor: pointer;
  opacity: 0.5;
  transition: all .25s linear;
  z-index: 999;
  border: 1px solid #fff;
}
/* line 1023, ../sass/screen.scss */
#toTop span {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
/* line 1028, ../sass/screen.scss */
#toTop span::before {
  content: '';
  position: absolute;
  top: 13px;
  left: 23px;
  width: 17px;
  height: 17px;
  border-top: 5px solid #000;
  border-right: 5px solid #000;
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
  -moz-transform: rotate(-45deg) translate(-50%, -50%);
  -o-transform: rotate(-45deg) translate(-50%, -50%);
  -ms-transform: rotate(-45deg) translate(-50%, -50%);
  transform: rotate(-45deg) translate(-50%, -50%);
}
/* line 1044, ../sass/screen.scss */
#toTop:hover {
  opacity: 1;
}

/* line 1048, ../sass/screen.scss */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* line 1061, ../sass/screen.scss */
#myModal {
  padding: 0 !important;
  text-align: center;
}
/* line 1064, ../sass/screen.scss */
#myModal:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
/* line 1071, ../sass/screen.scss */
#myModal .modal-dialog {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 95%;
  max-width: 350px;
}
/* line 1077, ../sass/screen.scss */
#myModal .modal-dialog .modal-content {
  border-radius: 0;
  border: 1px solid #fff;
  position: relative;
  padding: 1px 10px;
  animation-name: animatetop;
  animation-duration: 0.5s;
  background: #1289E5;
  position: relative;
}
/* line 1086, ../sass/screen.scss */
#myModal .modal-dialog .modal-content .modal-header {
  border-bottom: 0;
  position: relative;
  padding-top: 15px;
}
/* line 1090, ../sass/screen.scss */
#myModal .modal-dialog .modal-content .modal-header h4 {
  font-size: 30px;
  color: #fff;
  margin: 30px 0 0;
  font-weight: 600;
  text-align: center;
}
/* line 1097, ../sass/screen.scss */
#myModal .modal-dialog .modal-content .modal-header button {
  position: absolute;
  top: 10px;
  right: 7px;
  margin: 0;
  background: transparent;
  background-image: url(../images/popup-close.png);
  background-repeat: no-repeat;
  background-position: 0 0px;
  width: 37px;
  height: 37px;
  border: none;
  font-size: 26px;
  text-align: center;
  opacity: 1;
  cursor: pointer;
}
/* line 1113, ../sass/screen.scss */
#myModal .modal-dialog .modal-content .modal-header button:focus {
  outline: none;
}
/* line 1116, ../sass/screen.scss */
#myModal .modal-dialog .modal-content .modal-header button:hover {
  background-position: 0 -40px;
}
/* line 1121, ../sass/screen.scss */
#myModal .modal-dialog .modal-content .modal-body {
  padding-top: 20px;
  padding-bottom: 25px;
  max-width: 350px;
  margin: auto;
  text-align: center;
  position: relative;
}
/* line 1128, ../sass/screen.scss */
#myModal .modal-dialog .modal-content .modal-body label {
  font-size: 20px;
  color: #333;
  width: 100%;
  text-indent: 10px;
  margin: 0;
}
/* line 1135, ../sass/screen.scss */
#myModal .modal-dialog .modal-content .modal-body .form-group {
  display: block;
  margin: 0 auto 15px;
}
/* line 1138, ../sass/screen.scss */
#myModal .modal-dialog .modal-content .modal-body .form-group input,
#myModal .modal-dialog .modal-content .modal-body .form-group textarea {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  border: none;
  border-bottom: 1px solid #000;
  background: transparent;
  border: 1px solid #fff;
  padding: 10px;
  text-transform: uppercase;
  opacity: .8;
  color: #ffffff;
}
/* line 1151, ../sass/screen.scss */
#myModal .modal-dialog .modal-content .modal-body .form-group input::placeholder,
#myModal .modal-dialog .modal-content .modal-body .form-group textarea::placeholder {
  color: #ffffff;
}
/* line 1156, ../sass/screen.scss */
#myModal .modal-dialog .modal-content .modal-body .my_btn {
  display: inline-block;
  margin: 0px auto 0;
  font-size: 20px;
  text-transform: uppercase;
  background: #ffd71e;
  border: 1px solid #fff;
  vertical-align: middle;
  padding: 8px 10px;
  background: transparent;
  color: #fff;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  position: relative;
  cursor: pointer;
}
/* line 1172, ../sass/screen.scss */
#myModal .modal-dialog .modal-content .modal-body .my_btn:focus {
  outline: none;
}
/* line 1175, ../sass/screen.scss */
#myModal .modal-dialog .modal-content .modal-body .my_btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #ffed9bfc;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
/* line 1191, ../sass/screen.scss */
#myModal .modal-dialog .modal-content .modal-body .my_btn:hover {
  color: #168eeb;
}
/* line 1193, ../sass/screen.scss */
#myModal .modal-dialog .modal-content .modal-body .my_btn:hover::before {
  content: '';
  opacity: 1;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

/* line 1207, ../sass/screen.scss */
#text,
#text_modal,
#text_main {
  color: #000;
  text-align: center;
  margin-top: 10px;
}

/* line 1214, ../sass/screen.scss */
#text {
  color: #000000;
}

@media (max-width: 1500px) {
  /* line 1218, ../sass/screen.scss */
  h3 {
    font-size: 42px;
  }

  /* line 1221, ../sass/screen.scss */
  .section_service .box_content .box_left .box_text {
    padding: 0 20px;
  }

  /* line 1227, ../sass/screen.scss */
  .section-2 .box_content .box_left,
  .section-4 .box_content .box_left {
    width: 63%;
  }
  /* line 1229, ../sass/screen.scss */
  .section-2 .box_content .box_left .box_img img,
  .section-4 .box_content .box_left .box_img img {
    height: 500px;
  }
  /* line 1233, ../sass/screen.scss */
  .section-2 .box_content .box_right,
  .section-4 .box_content .box_right {
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    width: 37%;
  }
  /* line 1236, ../sass/screen.scss */
  .section-2 .box_content .box_right .box_text,
  .section-4 .box_content .box_right .box_text {
    max-width: 100%;
    padding-right: 40px;
  }

  /* line 1245, ../sass/screen.scss */
  .section-3 .box_left,
  .section-5 .box_left {
    padding-left: 40px;
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
  }
  /* line 1248, ../sass/screen.scss */
  .section-3 .box_left .box_text,
  .section-5 .box_left .box_text {
    max-width: 100%;
  }
  /* line 1252, ../sass/screen.scss */
  .section-3 .box_right .box_img img,
  .section-5 .box_right .box_img img {
    height: 500px;
  }

  /* line 1256, ../sass/screen.scss */
  .section-5 .box_right .box_img {
    overflow: visible;
  }
  /* line 1258, ../sass/screen.scss */
  .section-5 .box_right .box_img img {
    margin-left: -70px;
  }
}
@media (max-width: 1200px) {
  /* line 1264, ../sass/screen.scss */
  h1 {
    font-size: 60px;
  }

  /* line 1267, ../sass/screen.scss */
  h3 {
    font-size: 36px;
  }

  /* line 1271, ../sass/screen.scss */
  header .container {
    padding: 10px 20px;
  }

  /* line 1275, ../sass/screen.scss */
  .section-1 .box_content .box-bottom {
    margin-bottom: 12px;
  }

  /* line 1278, ../sass/screen.scss */
  .section_service .box_content .box_right .box {
    width: 545px;
    height: 400px;
  }
  /* line 1281, ../sass/screen.scss */
  .section_service .box_content .box_right .box::before {
    content: '';
    background-size: cover;
  }

  /* line 1289, ../sass/screen.scss */
  .section-2 .box_content .box_left .box_img img,
  .section-4 .box_content .box_left .box_img img {
    height: 500px;
  }
  /* line 1292, ../sass/screen.scss */
  .section-2 .box_content .box_right .box_text,
  .section-4 .box_content .box_right .box_text {
    max-width: 100%;
  }

  /* line 1298, ../sass/screen.scss */
  .section-2 .box_content .box_left {
    width: 60%;
  }
  /* line 1301, ../sass/screen.scss */
  .section-2 .box_content .box_right {
    width: 40%;
  }

  /* line 1305, ../sass/screen.scss */
  .section_portfolio .box_content .box {
    -webkit-flex-basis: 50%;
    -ms-flex-basis: 50%;
    flex-basis: 50%;
  }
}
@media (max-width: 992px) {
  /* line 1311, ../sass/screen.scss */
  header .container nav ul li a {
    padding: 10px 8px;
  }
  /* line 1314, ../sass/screen.scss */
  header .container .box_callback .my_btn {
    font-size: 13px;
  }

  /* line 1318, ../sass/screen.scss */
  .section-1 {
    background-image: url(../images/sct-1_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  /* line 1323, ../sass/screen.scss */
  .section-1 .box_content .bg_video {
    display: none;
  }

  /* line 1327, ../sass/screen.scss */
  .section_service {
    padding: 70px 20px;
  }
  /* line 1329, ../sass/screen.scss */
  .section_service .box_content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 1331, ../sass/screen.scss */
  .section_service .box_content .box_left {
    width: 100%;
  }
  /* line 1333, ../sass/screen.scss */
  .section_service .box_content .box_left .box_text {
    max-width: 100%;
  }
  /* line 1337, ../sass/screen.scss */
  .section_service .box_content .box_right {
    width: 100%;
    margin-top: 50px;
  }

  /* line 1345, ../sass/screen.scss */
  .section-2 .box_content,
  .section-4 .box_content {
    position: relative;
  }
  /* line 1347, ../sass/screen.scss */
  .section-2 .box_content .box_right,
  .section-4 .box_content .box_right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  /* line 1354, ../sass/screen.scss */
  .section-2 .box_content .box_right .box_text,
  .section-4 .box_content .box_right .box_text {
    max-width: 370px;
  }

  /* line 1362, ../sass/screen.scss */
  .section-3 .box_content,
  .section-5 .box_content {
    position: relative;
  }
  /* line 1364, ../sass/screen.scss */
  .section-3 .box_content .box_left,
  .section-5 .box_content .box_left {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 0;
  }
  /* line 1372, ../sass/screen.scss */
  .section-3 .box_content .box_left .box_text,
  .section-5 .box_content .box_left .box_text {
    max-width: 370px;
  }
  /* line 1376, ../sass/screen.scss */
  .section-3 .box_content .box_right,
  .section-5 .box_content .box_right {
    width: 100%;
  }
  /* line 1378, ../sass/screen.scss */
  .section-3 .box_content .box_right .box_img,
  .section-5 .box_content .box_right .box_img {
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
  }

  /* line 1385, ../sass/screen.scss */
  .section-2 .box_content .box_left {
    width: 100%;
  }
  /* line 1387, ../sass/screen.scss */
  .section-2 .box_content .box_left .box_img {
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
  }
  /* line 1391, ../sass/screen.scss */
  .section-2 .box_content .box_right {
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    background: rgba(255, 255, 255, 0.2);
  }
  /* line 1395, ../sass/screen.scss */
  .section-2 .box_content .box_right .box_text {
    padding-bottom: 30px;
  }

  /* line 1402, ../sass/screen.scss */
  .section-3 .box_content .box_left {
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-align: flex-end;
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    background: rgba(255, 255, 255, 0.5);
  }
  /* line 1406, ../sass/screen.scss */
  .section-3 .box_content .box_left .box_text {
    max-width: 370px;
    padding: 0 30px 30px 0;
  }
  /* line 1411, ../sass/screen.scss */
  .section-3 .box_content .box_right {
    width: 100%;
  }
  /* line 1413, ../sass/screen.scss */
  .section-3 .box_content .box_right .box_img {
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
  }

  /* line 1420, ../sass/screen.scss */
  .section-4 .box_content .box_left {
    width: 100%;
  }
  /* line 1422, ../sass/screen.scss */
  .section-4 .box_content .box_left .box_img {
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
  }
  /* line 1426, ../sass/screen.scss */
  .section-4 .box_content .box_right {
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    background: rgba(38, 14, 102, 0.4);
  }
  /* line 1430, ../sass/screen.scss */
  .section-4 .box_content .box_right .box_text {
    padding: 30px 0 0 30px;
  }

  /* line 1437, ../sass/screen.scss */
  .section-5 .box_content .box_left {
    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    background: rgba(220, 250, 255, 0.5);
  }
  /* line 1441, ../sass/screen.scss */
  .section-5 .box_content .box_left .box_text {
    max-width: 370px;
    padding: 30px 0 0 30px;
  }
  /* line 1446, ../sass/screen.scss */
  .section-5 .box_content .box_right {
    width: 100%;
  }
  /* line 1448, ../sass/screen.scss */
  .section-5 .box_content .box_right .box_img {
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
  }
  /* line 1450, ../sass/screen.scss */
  .section-5 .box_content .box_right .box_img img {
    margin-left: auto;
  }

  /* line 1457, ../sass/screen.scss */
  #toTop img {
    display: none;
  }

  /* line 1460, ../sass/screen.scss */
  header .container nav ul li .my_btn {
    max-width: 160px;
  }
}
@media (max-width: 768px) {
  /* line 1465, ../sass/screen.scss */
  h1 {
    font-size: 50px;
  }

  /* line 1468, ../sass/screen.scss */
  h2 {
    font-size: 20px;
  }

  /* line 1472, ../sass/screen.scss */
  header .container {
    padding: 10px 45px 10px 20px;
  }
  /* line 1474, ../sass/screen.scss */
  header .container .burger {
    display: block;
  }
  /* line 1477, ../sass/screen.scss */
  header .container nav {
    position: fixed;
    top: 47px;
    left: 0;
    background-color: #000;
    height: 100%;
    width: 100%;
    padding: 10px;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    -ms-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    border: 1px solid #e6e6e6;
    margin-top: 0;
  }
  /* line 1496, ../sass/screen.scss */
  header .container nav ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
  }
  /* line 1500, ../sass/screen.scss */
  header .container nav ul li {
    display: block;
  }
  /* line 1506, ../sass/screen.scss */
  header .menu-opened nav {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* line 1512, ../sass/screen.scss */
  .header-scroll .container {
    padding: 5px 45px 5px 20px;
  }

  /* line 1517, ../sass/screen.scss */
  .section-1 .box_content .p-1 {
    font-size: 20px;
  }

  /* line 1522, ../sass/screen.scss */
  .section_portfolio .box_content .box {
    -webkit-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
  }

  /* line 1525, ../sass/screen.scss */
  .section_price .box_content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
  }
  /* line 23, ../sass/screen.scss */
  .section_price .box_content .box_left,
  .section_price .box_content .box_right {
    width: 100%;
  }
  /* line 1528, ../sass/screen.scss */
  .section_price .box_content .box_right {
    margin-top: 50px;
  }

  /* line 1532, ../sass/screen.scss */
  .section_contacts .box_content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 23, ../sass/screen.scss */
  .section_contacts .box_content .box_left,
  .section_contacts .box_content .box_right {
    width: 100%;
  }
  /* line 1534, ../sass/screen.scss */
  .section_contacts .box_content .box_right {
    margin-top: 50px;
  }

  /* line 1538, ../sass/screen.scss */
  #toTop {
    display: none;
  }
}
@media (max-width: 600px) {
  /* line 1543, ../sass/screen.scss */
  h1 {
    font-size: 44px;
  }

  /* line 1546, ../sass/screen.scss */
  .section_service .box_content .box_right .box {
    width: 420px;
    height: 308px;
  }

  /* line 1551, ../sass/screen.scss */
  #myModal-1 .modal-dialog .modal-content .modal-header h4 {
    font-size: 24px;
  }

  /* line 1556, ../sass/screen.scss */
  #myModal-1 .modal-dialog .modal-content .modal-body {
    text-align: center;
  }
  /* line 1558, ../sass/screen.scss */
  #myModal-1 .modal-dialog .modal-content .modal-body .form-group {
    max-width: 340px;
  }
}
@media (max-width: 480px) {
  /* line 1565, ../sass/screen.scss */
  h1 {
    font-size: 44px;
  }

  /* line 1568, ../sass/screen.scss */
  h3 {
    font-size: 30px;
  }

  /* line 1571, ../sass/screen.scss */
  header .container nav {
    top: 62px;
  }

  /* line 1575, ../sass/screen.scss */
  .section-1 .box_content .box_text {
    margin-top: 100px;
  }
  /* line 1578, ../sass/screen.scss */
  .section-1 .box_content .p-1 {
    font-size: 18px;
  }
  /* line 1581, ../sass/screen.scss */
  .section-1 .box_content .title {
    font-size: 24px;
  }

  /* line 1585, ../sass/screen.scss */
  .section_service .box_content .box_left .box_text {
    padding: 0;
  }

  /* line 1590, ../sass/screen.scss */
  .section-2 .box_content,
  .section-4 .box_content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 1592, ../sass/screen.scss */
  .section-2 .box_content .box_left .box_img img,
  .section-4 .box_content .box_left .box_img img {
    height: 235px;
  }
  /* line 1595, ../sass/screen.scss */
  .section-2 .box_content .box_right,
  .section-4 .box_content .box_right {
    position: static;
  }
  /* line 1597, ../sass/screen.scss */
  .section-2 .box_content .box_right .box_text,
  .section-4 .box_content .box_right .box_text {
    max-width: 100%;
    padding: 20px;
  }

  /* line 1606, ../sass/screen.scss */
  .section-3 .box_content,
  .section-5 .box_content {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 1608, ../sass/screen.scss */
  .section-3 .box_content .box_left,
  .section-5 .box_content .box_left {
    position: static;
    order: 2;
  }
  /* line 1611, ../sass/screen.scss */
  .section-3 .box_content .box_left .box_text,
  .section-5 .box_content .box_left .box_text {
    max-width: 100%;
    padding: 20px;
  }
  /* line 1616, ../sass/screen.scss */
  .section-3 .box_content .box_right .box_img img,
  .section-5 .box_content .box_right .box_img img {
    height: 235px;
  }

  /* line 1621, ../sass/screen.scss */
  .section-4 .box_content .box_left .box_img {
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
  }

  /* line 1624, ../sass/screen.scss */
  .section-5 .box_right {
    padding: 20px 0;
  }

  /* line 1627, ../sass/screen.scss */
  .section_service .box_content .box_right .box {
    width: 350px;
    height: 257px;
  }

  /* line 1633, ../sass/screen.scss */
  #myModal-1 .modal-dialog .modal-content .modal-header h4 {
    font-size: 28px;
    margin: 55px 0 0;
  }
  /* line 1638, ../sass/screen.scss */
  #myModal-1 .modal-dialog .modal-content .modal-body .form-group {
    max-width: 100%;
    margin-bottom: 20px;
  }
  /* line 1642, ../sass/screen.scss */
  #myModal-1 .modal-dialog .modal-content .modal-body .modal-body .my_btn {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  /* line 1650, ../sass/screen.scss */
  h1 {
    font-size: 35px;
  }

  /* line 1653, ../sass/screen.scss */
  h3 {
    font-size: 30px;
  }

  /* line 1657, ../sass/screen.scss */
  header .container .logo .strong .logo_text {
    max-width: 80px;
  }
  /* line 1659, ../sass/screen.scss */
  header .container .logo .strong .logo_text p {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    line-height: 1.2;
    font-family: "Times New Roman", sans-serif;
  }
  /* line 1669, ../sass/screen.scss */
  header .container .box_callback .my_btn {
    font-size: 10px;
  }

  /* line 1674, ../sass/screen.scss */
  .section-1 .box_content .title {
    font-size: 18px;
  }

  /* line 1678, ../sass/screen.scss */
  .section_service {
    padding: 40px 15px;
  }
  /* line 1681, ../sass/screen.scss */
  .section_service .box_content .box_left .box_text p {
    font-size: 18px;
  }
  /* line 1684, ../sass/screen.scss */
  .section_service .box_content .box_right .box {
    width: 280px;
    height: 205px;
  }

  /* line 1691, ../sass/screen.scss */
  .section-3 .box_content .box .box_title {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  /* line 1694, ../sass/screen.scss */
  .section-3 .box_content .box .box_title h3 {
    padding-left: 0;
    margin-top: 20px;
  }
  /* line 1699, ../sass/screen.scss */
  .section-3 .box_content .box .box_text {
    text-align: center;
  }
}
/* line 1706, ../sass/screen.scss */
#popup__toggle {
  bottom: 25px;
  right: 10px;
  position: fixed;
  z-index: 999;
}

/* line 1707, ../sass/screen.scss */
.img-circle {
  background-color: #29AEE3;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

/* line 1708, ../sass/screen.scss */
.circlephone {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  border: 2px solid #29AEE3;
  width: 150px;
  height: 150px;
  bottom: -25px;
  right: 10px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  opacity: .5;
  -webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
  -moz-animation: circle-anim 2.4s infinite ease-in-out !important;
  -ms-animation: circle-anim 2.4s infinite ease-in-out !important;
  -o-animation: circle-anim 2.4s infinite ease-in-out !important;
  animation: circle-anim 2.4s infinite ease-in-out !important;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all 0.5s;
}

/* line 1709, ../sass/screen.scss */
.circle-fill {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  background-color: #29AEE3;
  width: 100px;
  height: 100px;
  bottom: 0px;
  right: 35px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: circle-fill-anim 2.3s infinite ease-in-out;
  animation: circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all 0.5s;
}

/* line 1710, ../sass/screen.scss */
.img-circle {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 72px;
  height: 72px;
  bottom: 14px;
  right: 49px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .7;
}

/* line 1711, ../sass/screen.scss */
.img-circleblock {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 72px;
  height: 72px;
  background-image: url(../images/mini.png);
  background-position: center center;
  background-repeat: no-repeat;
  animation-name: tossing;
  -webkit-animation-name: tossing;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

/* line 1712, ../sass/screen.scss */
.img-circle:hover {
  opacity: 1;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 1;
  }
}
@keyframes tossing {
  0% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(-8deg);
  }
}
@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-8deg);
  }
  50% {
    -webkit-transform: rotate(8deg);
  }
  100% {
    -webkit-transform: rotate(-8deg);
  }
}
@-moz-keyframes circle-anim {
  0% {
    -moz-transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1;
    -moz-opacity: .1;
    -webkit-opacity: .1;
    -o-opacity: .1;
  }
  30% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5;
    -moz-opacity: .5;
    -webkit-opacity: .5;
    -o-opacity: .5;
  }
  100% {
    -moz-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .6;
    -moz-opacity: .6;
    -webkit-opacity: .6;
    -o-opacity: .1;
  }
}
@-webkit-keyframes circle-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
    -webkit-opacity: .1;
  }
  30% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    -webkit-opacity: .5;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    -webkit-opacity: .1;
  }
}
@-o-keyframes circle-anim {
  0% {
    -o-transform: rotate(0deg) kscale(0.5) skew(1deg);
    -o-opacity: .1;
  }
  30% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    -o-opacity: .5;
  }
  100% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
    -o-opacity: .1;
  }
}
@keyframes circle-anim {
  0% {
    transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1;
  }
  30% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5;
  }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .1;
  }
}
@-moz-keyframes circle-fill-anim {
  0% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
  50% {
    -moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);
    opacity: .2;
  }
  100% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
}
@-webkit-keyframes circle-fill-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2;
  }
  100% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
}
@-o-keyframes circle-fill-anim {
  0% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
  50% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2;
  }
  100% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
}
@keyframes circle-fill-anim {
  0% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2;
  }
  100% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2;
  }
}
@keyframes animation_phone {
  0% {
    bottom: 60px;
    right: 65%;
  }
  100% {
    bottom: 5px;
    right: 69%;
  }
}
