/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 11, ../sass/screen.scss */
body {
  margin: 0;
  font: 16px 'Open Sans', Arial, sans-serif;
  color: #fff;
  height: 100%;
}

/* line 17, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 26, ../sass/screen.scss */
h1 {
  font-size: 100px;
  font-weight: 400;
  letter-spacing: 4px;
  color: #000000;
}

/* line 32, ../sass/screen.scss */
h2 {
  font-size: 42px;
  text-align: center;
  margin: 50px 0 0;
  color: #fff;
  text-shadow: 1px 1px 10px #000, -1px -1px 10px #000;
}

/* line 39, ../sass/screen.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
/* line 45, ../sass/screen.scss */
header .container {
  max-width: 1200px;
  margin: auto;
}
/* line 49, ../sass/screen.scss */
header .header-contacts {
  display: inline-block;
  float: left;
  font-size: 20px;
  padding: 12px;
}
/* line 54, ../sass/screen.scss */
header .header-contacts a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 1px 10px #000, -1px -1px 10px #000;
}
/* line 61, ../sass/screen.scss */
header .onepage-pagination {
  position: static !important;
  list-style-type: none;
}
/* line 65, ../sass/screen.scss */
header .onepage-pagination li a {
  width: auto !important;
  height: auto !important;
}
/* line 68, ../sass/screen.scss */
header .onepage-pagination li a::before {
  content: none;
}
/* line 74, ../sass/screen.scss */
header .navigation {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
/* line 78, ../sass/screen.scss */
header .navigation nav {
  display: inline-block;
}
/* line 80, ../sass/screen.scss */
header .navigation nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 84, ../sass/screen.scss */
header .navigation nav ul li {
  display: inline-block;
}
/* line 86, ../sass/screen.scss */
header .navigation nav ul li a {
  font-size: 16px;
  font-weight: bold;
  display: block;
  padding: 15px 11px 7px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 1px 10px #000, -1px -1px 10px #000;
}
/* line 96, ../sass/screen.scss */
header .navigation nav ul li a:hover,
header .navigation nav ul li .active {
  box-shadow: inset 0 -3px 0 #fff;
}
/* line 100, ../sass/screen.scss */
header .navigation nav ul li a:focus {
  text-decoration: none;
}
/* line 104, ../sass/screen.scss */
header .navigation nav ul .li-close-menu {
  display: none;
}
/* line 109, ../sass/screen.scss */
header .navigation .burger {
  display: none;
  position: absolute;
  top: 0;
  right: 50%;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -o-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  width: 62px;
  height: 35px;
  cursor: pointer;
  z-index: 1000;
}
/* line 124, ../sass/screen.scss */
header .navigation .burger span {
  position: absolute;
  left: 12px;
  top: 19px;
  text-indent: 9900px;
  width: 26px;
  height: 3px;
  background: #fff;
  box-shadow: 1px 1px 5px #000, -1px -1px 5px #000;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
/* line 136, ../sass/screen.scss */
header .navigation .burger:before,
header .navigation .burger:after {
  content: '';
  position: absolute;
  left: 12px;
  top: 12px;
  width: 26px;
  height: 3px;
  background: #fff;
  box-shadow: 1px 1px 5px #000, -1px -1px 5px #000;
  -webkit-transition: -webkit-transform .2s ease-out, top .2s .2s ease-out;
  transition: transform .2s ease-out, top .2s .2s ease-out;
}
/* line 149, ../sass/screen.scss */
header .navigation .burger:after {
  top: 26px;
}
/* line 154, ../sass/screen.scss */
header .menu-opened .burger:before,
header .menu-opened .burger:after {
  top: 19px;
  -webkit-transition: top .2s ease-out, -webkit-transform .2s .2s ease-out;
  transition: top .2s ease-out, transform .2s .2s ease-out;
}
/* line 160, ../sass/screen.scss */
header .menu-opened .burger:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 165, ../sass/screen.scss */
header .menu-opened .burger:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 170, ../sass/screen.scss */
header .menu-opened .burger span {
  opacity: 0;
  -webkit-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3);
}

/* line 178, ../sass/screen.scss */
.wrapper {
  height: 100%;
}

/* line 181, ../sass/screen.scss */
.box_main {
  position: relative;
  padding: 10px;
  height: 100%;
}

/* line 186, ../sass/screen.scss */
.lines {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  bottom: 11.5vw;
  right: -7vw;
}
/* line 195, ../sass/screen.scss */
.lines .line {
  background: #ffffff;
  height: 1px;
  margin-left: auto;
  margin-bottom: 10px;
  width: 5vw;
}
/* line 202, ../sass/screen.scss */
.lines .line-2,
.lines .line-5 {
  height: 4px;
}
/* line 206, ../sass/screen.scss */
.lines .line-1 {
  width: 9vw;
}
/* line 209, ../sass/screen.scss */
.lines .line-2 {
  width: 18vw;
  margin-bottom: 3px;
}
/* line 213, ../sass/screen.scss */
.lines .line-3 {
  width: 29vw;
  margin-bottom: 7px;
}
/* line 217, ../sass/screen.scss */
.lines .line-4 {
  width: 20vw;
  margin-bottom: 1.7vw;
}
/* line 221, ../sass/screen.scss */
.lines .line-5 {
  width: 16vw;
}

/* line 225, ../sass/screen.scss */
.page1 {
  padding-top: 55px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
}
/* line 232, ../sass/screen.scss */
.page1 .box_main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -o-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}
/* line 248, ../sass/screen.scss */
.page1 .box_main p {
  font-size: 100px;
  font-size: 5.2vw;
  font-weight: 400;
  letter-spacing: 4px;
  color: #000000;
  margin: 0;
}
/* line 256, ../sass/screen.scss */
.page1 .box_main .p-2 {
  font-family: 'capture_itregular';
  font-size: 6vw;
}

/* line 262, ../sass/screen.scss */
.page2 {
  background: #e90000;
  background: -webkit-linear-gradient(-167deg, #e90000, #a00000 60%, #490100);
  background: -moz-linear-gradient(-167deg, #e90000, #a00000 60%, #490100);
  background: -o-linear-gradient(-167deg, #e90000, #a00000 60%, #490100);
  background: -ms-linear-gradient(-167deg, #e90000, #a00000 60%, #490100);
  background: linear-gradient(-167deg, #e90000, #a00000 60%, #490100);
  padding: 55px 0px 0;
}
/* line 270, ../sass/screen.scss */
.page2 h2 {
  margin-top: 0;
  font-size: 12.4vw;
}
/* line 274, ../sass/screen.scss */
.page2 .box {
  max-width: 60vw;
  margin: 0px auto 0;
  text-align: center;
}
/* line 278, ../sass/screen.scss */
.page2 .box p {
  font-size: 2.8vw;
  margin: 15px 0;
  color: #ffff00;
}

/* line 285, ../sass/screen.scss */
.page3 {
  background: #053d65;
  text-align: center;
  padding: 55px 10px 45px;
}
/* line 294, ../sass/screen.scss */
.page3 h2 {
  font-size: 23vw;
  text-align: left;
  margin-top: 0;
  line-height: 1;
}
/* line 300, ../sass/screen.scss */
.page3 .box {
  margin-top: -9vw;
  float: right;
  max-width: 45%;
  position: relative;
}
/* line 305, ../sass/screen.scss */
.page3 .box p {
  color: #00ff00;
  font-size: 2.3vw;
  font-weight: bold;
}
/* line 311, ../sass/screen.scss */
.page3 .lines {
  right: -12vw;
  top: 17vw;
  bottom: auto;
}
/* line 315, ../sass/screen.scss */
.page3 .lines .line-1 {
  width: 43vw;
}
/* line 318, ../sass/screen.scss */
.page3 .lines .line-2 {
  width: 52vw;
  margin-bottom: 3px;
}
/* line 322, ../sass/screen.scss */
.page3 .lines .line-3 {
  width: 63vw;
}
/* line 325, ../sass/screen.scss */
.page3 .lines .line-4 {
  width: 54vw;
}
/* line 328, ../sass/screen.scss */
.page3 .lines .line-5 {
  width: 50vw;
}

/* line 333, ../sass/screen.scss */
.page4 {
  background: #aaf0fa;
  background: -webkit-linear-gradient(-196deg, #007800, #007900 35%, #a9ff21 50%, #eaff2e 60%, #eaff2e 100%);
  background: -moz-linear-gradient(-196deg, #007800, #007900 35%, #a9ff21 50%, #eaff2e 60%, #eaff2e 100%);
  background: -o-linear-gradient(-196deg, #007800, #007900 35%, #a9ff21 50%, #eaff2e 60%, #eaff2e 100%);
  background: -ms-linear-gradient(-196deg, #007800, #007900 35%, #a9ff21 50%, #eaff2e 60%, #eaff2e 100%);
  background: linear-gradient(-196deg, #007800, #007900 35%, #a9ff21 50%, #eaff2e 60%, #eaff2e 100%);
  text-align: center;
  padding: 55px 10px 45px;
}
/* line 342, ../sass/screen.scss */
.page4 h2 {
  font-size: 10.5vw;
  text-align: left;
  margin-top: 0;
  line-height: 1;
}
/* line 348, ../sass/screen.scss */
.page4 .box {
  margin: auto;
  max-width: 730px;
  position: relative;
}
/* line 352, ../sass/screen.scss */
.page4 .box p {
  color: #360000;
  font-size: 1.6vw;
  font-weight: bold;
  text-shadow: -1px -1px #bb5218, 1px 1px #bb5218;
}
/* line 359, ../sass/screen.scss */
.page4 .p-4 {
  font-size: 10.5vw;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 0;
  text-shadow: none;
  text-align: right;
}

/* line 368, ../sass/screen.scss */
.page5 {
  background: #783c78;
  text-align: center;
  padding: 55px 10px 45px;
}
/* line 372, ../sass/screen.scss */
.page5::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 170px;
  background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0) 170px);
  background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0) 170px);
  background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0) 170px);
  background: -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0) 170px);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0) 170px);
}
/* line 385, ../sass/screen.scss */
.page5 h2 {
  font-size: 36px;
  margin-top: 0;
}
/* line 389, ../sass/screen.scss */
.page5 .box {
  margin: auto;
  max-width: 730px;
  position: relative;
}
/* line 393, ../sass/screen.scss */
.page5 .box p {
  color: #360000;
  font-size: 32px;
  font-weight: bold;
  text-shadow: -1px -1px #bb5218, 1px 1px #bb5218;
}
/* line 399, ../sass/screen.scss */
.page5 .box .p-4 {
  font-size: 115px;
  color: #000000;
  margin-top: 20px;
  text-shadow: none;
}

/* line 407, ../sass/screen.scss */
.page6 {
  background: #1e6423;
  text-align: center;
  padding: 55px 10px 45px;
}
/* line 411, ../sass/screen.scss */
.page6::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 220px;
  background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0) 170px);
  background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0) 170px);
  background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0) 170px);
  background: -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0) 170px);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0));
}
/* line 424, ../sass/screen.scss */
.page6 h2 {
  font-size: 80px;
  margin-top: 0;
}
/* line 428, ../sass/screen.scss */
.page6 .box {
  margin: auto;
  max-width: 730px;
  position: relative;
}
/* line 432, ../sass/screen.scss */
.page6 .box p {
  color: #360000;
  font-size: 32px;
  font-weight: bold;
  text-shadow: -1px -1px #bb5218, 1px 1px #bb5218;
}
/* line 438, ../sass/screen.scss */
.page6 .box .p-4 {
  font-size: 115px;
  color: #000000;
  margin-top: 20px;
  text-shadow: none;
}

/* line 446, ../sass/screen.scss */
.page7 {
  background: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 55px 10px 45px;
}
/* line 453, ../sass/screen.scss */
.page7 .box_main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 465, ../sass/screen.scss */
.page7 h2 {
  font-size: 80px;
  margin-top: 0;
}
/* line 469, ../sass/screen.scss */
.page7 .box {
  margin: auto;
  position: relative;
}
/* line 472, ../sass/screen.scss */
.page7 .box a {
  display: inline-block;
  color: #000;
  font-size: 100px;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  transition: all .2s linear;
}
/* line 480, ../sass/screen.scss */
.page7 .box a:hover {
  color: #001d8a;
}
/* line 484, ../sass/screen.scss */
.page7 .box .link-2 {
  font-family: "Times New Roman";
  margin-top: 5vw;
}
/* line 488, ../sass/screen.scss */
.page7 .box .p-4 {
  font-size: 115px;
  color: #000000;
  margin-top: 20px;
  text-shadow: none;
}

/* line 497, ../sass/screen.scss */
.body-portfolio header {
  background: rgba(248, 232, 217, 0.9);
}

/* line 503, ../sass/screen.scss */
.onepage-pagination.onepage-pagination li a:before {
  background: #fff;
  box-shadow: 0px 0px 3px 1px #000;
}
/* line 507, ../sass/screen.scss */
.onepage-pagination.onepage-pagination li a.active:before {
  width: 7px;
  height: 7px;
  border: 3px solid #fff;
  left: 6px;
  background-color: transparent;
}

/* line 515, ../sass/screen.scss */
.cbalink,
div[style="text-align:center;font-size:11px;font-family:arial;background-color:black;color:white"] {
  display: none;
}

@media (max-width: 1500px) {
  /* line 520, ../sass/screen.scss */
  .page4 .box p {
    font-size: 2.1vw;
  }
}
@media (max-width: 1200px) {
  /* line 525, ../sass/screen.scss */
  .page7 .box a {
    font-size: 88px;
  }
}
@media (max-width: 992px) {
  /* line 530, ../sass/screen.scss */
  .box_main {
    padding: 10px 25px;
  }

  /* line 533, ../sass/screen.scss */
  .lines {
    bottom: 23.5vw;
    right: -10vw;
  }
  /* line 536, ../sass/screen.scss */
  .lines .line-1 {
    width: 29vw;
  }
  /* line 539, ../sass/screen.scss */
  .lines .line-2 {
    width: 38vw;
  }
  /* line 542, ../sass/screen.scss */
  .lines .line-3 {
    width: 49vw;
  }
  /* line 545, ../sass/screen.scss */
  .lines .line-4 {
    width: 40vw;
  }
  /* line 548, ../sass/screen.scss */
  .lines .line-5 {
    width: 36vw;
  }

  /* line 553, ../sass/screen.scss */
  .page2 h2 {
    font-size: 120px;
  }
  /* line 556, ../sass/screen.scss */
  .page2 .box {
    max-width: 100%;
  }
  /* line 558, ../sass/screen.scss */
  .page2 .box p {
    font-size: 34px;
  }

  /* line 564, ../sass/screen.scss */
  .page3 h2 {
    font-size: 120px;
    text-align: center;
  }
  /* line 568, ../sass/screen.scss */
  .page3 .box {
    max-width: 100%;
    float: none;
    margin-top: 0;
  }
  /* line 572, ../sass/screen.scss */
  .page3 .box p {
    font-size: 34px;
  }
  /* line 576, ../sass/screen.scss */
  .page3 .lines {
    right: -14vw;
  }

  /* line 581, ../sass/screen.scss */
  .page4 h2 {
    font-size: 120px;
    text-align: center;
  }
  /* line 585, ../sass/screen.scss */
  .page4 .box {
    max-width: 100%;
  }
  /* line 587, ../sass/screen.scss */
  .page4 .box p {
    font-size: 24px;
  }
  /* line 591, ../sass/screen.scss */
  .page4 .p-4 {
    text-align: center;
    font-size: 108px;
  }

  /* line 596, ../sass/screen.scss */
  .page7 .box a {
    font-size: 64px;
  }

  /* line 600, ../sass/screen.scss */
  header .navigation {
    padding-right: 0;
  }
  /* line 602, ../sass/screen.scss */
  header .navigation .burger {
    display: block;
    top: 10px;
    right: 0px;
    -ms-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    -webkit-transform: translatex(0);
    transform: translatex(0);
  }
  /* line 612, ../sass/screen.scss */
  header .navigation nav {
    position: fixed;
    top: 0px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    padding: 10px;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    -ms-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    border: 1px solid #e6e6e6;
  }
  /* line 630, ../sass/screen.scss */
  header .navigation nav ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
  }
  /* line 634, ../sass/screen.scss */
  header .navigation nav ul li {
    display: block;
  }
  /* line 636, ../sass/screen.scss */
  header .navigation nav ul li a {
    display: inline-block;
  }
  /* line 640, ../sass/screen.scss */
  header .navigation nav ul .li-close-menu {
    text-align: right;
  }
  /* line 643, ../sass/screen.scss */
  header .navigation nav ul .close-menu {
    text-align: right;
    cursor: pointer;
    text-transform: uppercase;
  }
  /* line 651, ../sass/screen.scss */
  header .menu-opened nav {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  /* line 655, ../sass/screen.scss */
  header .menu-opened nav ul li a {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  /* line 663, ../sass/screen.scss */
  .lines {
    right: -12vw;
  }

  /* line 666, ../sass/screen.scss */
  .page7 .box a {
    font-size: 50px;
  }
}
@media (max-width: 599px) {
  /* line 674, ../sass/screen.scss */
  .onepage-wrapper .section,
  .wrapper {
    height: auto;
  }

  /* line 678, ../sass/screen.scss */
  h1 {
    font-size: 32px;
  }

  /* line 681, ../sass/screen.scss */
  .lines {
    display: none;
  }

  /* line 684, ../sass/screen.scss */
  header .onepage-pagination {
    display: block !important;
  }

  /* line 687, ../sass/screen.scss */
  .page1 {
    padding-top: 20px;
  }
  /* line 689, ../sass/screen.scss */
  .page1 .box_main .p-2 {
    font-family: 'capture_itregular';
    font-size: 4.7vw;
  }

  /* line 694, ../sass/screen.scss */
  .page2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* line 697, ../sass/screen.scss */
  .page2 h2 {
    margin: 0 0 40px;
  }
  /* line 700, ../sass/screen.scss */
  .page2 .box {
    margin: 0;
    height: auto;
  }

  /* line 705, ../sass/screen.scss */
  .page3 {
    padding: 20px 10px;
  }
  /* line 707, ../sass/screen.scss */
  .page3 h2 {
    margin: 0 0 40px;
  }
  /* line 710, ../sass/screen.scss */
  .page3 .box {
    height: auto;
    margin-top: 0;
  }

  /* line 715, ../sass/screen.scss */
  .page4 .p-4 {
    font-size: 86px;
  }

  /* line 718, ../sass/screen.scss */
  .page4,
  .page5,
  .page6 {
    padding: 20px 10px;
  }

  /* line 723, ../sass/screen.scss */
  .page7 {
    padding: 20px 10px;
  }
  /* line 725, ../sass/screen.scss */
  .page7 h2 {
    font-size: 74px;
    margin-top: 0;
  }
  /* line 729, ../sass/screen.scss */
  .page7 .box a {
    font-size: 40px;
    margin-top: 50px;
  }
}
@media (max-width: 480px) {
  /* line 737, ../sass/screen.scss */
  h2 {
    font-size: 30px;
  }

  /* line 740, ../sass/screen.scss */
  .box_main {
    padding: 10px;
  }

  /* line 743, ../sass/screen.scss */
  .lines {
    display: none;
    bottom: 23.5vw;
    right: -12vw;
  }

  /* line 748, ../sass/screen.scss */
  .page1 .box_main p {
    font-size: 5.1vw;
  }

  /* line 751, ../sass/screen.scss */
  .page2 .box p {
    font-size: 24px;
  }

  /* line 754, ../sass/screen.scss */
  .page3 .box p {
    font-size: 24px;
  }

  /* line 758, ../sass/screen.scss */
  .page4 .box p {
    font-size: 24px;
  }

  /* line 762, ../sass/screen.scss */
  .page4 .p-4 {
    font-size: 72px;
  }

  /* line 765, ../sass/screen.scss */
  .page6 h2 {
    font-size: 64px;
  }

  /* line 769, ../sass/screen.scss */
  .page7 h2 {
    font-size: 70px;
  }
  /* line 772, ../sass/screen.scss */
  .page7 .box a {
    font-size: 34px;
    margin-top: 50px;
  }
}
@media (max-width: 400px) {
  /* line 782, ../sass/screen.scss */
  .page2 h2,
  .page3 h2,
  .page4 h2 {
    font-size: 105px;
  }
  /* line 785, ../sass/screen.scss */
  .page2 .box p,
  .page3 .box p,
  .page4 .box p {
    font-size: 20px;
  }

  /* line 789, ../sass/screen.scss */
  .page4 h2 {
    font-size: 90px;
  }

  /* line 792, ../sass/screen.scss */
  .page4 .p-4 {
    font-size: 56px;
  }

  /* line 795, ../sass/screen.scss */
  .page6 h2 {
    font-size: 50px;
  }

  /* line 799, ../sass/screen.scss */
  .page7 h2 {
    font-size: 50px;
  }
  /* line 802, ../sass/screen.scss */
  .page7 .box a {
    font-size: 26px;
    margin-top: 50px;
  }
}
