/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@charset 'UTF-8';
@mixin left-right {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	.box_left,
	.box_right {
		width: 50%;
	}
}
@mixin left-right-100 {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	.box_left,
	.box_right {
		width: 100%;
	}
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
@mixin flex-direction {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-o-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
@mixin align-items {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
@mixin align-items-flex-start {
	-webkit-box-align: flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
}
@mixin align-items-flex-end {
	-webkit-box-align: flex-end;
	-webkit-align-items: flex-end;
	-ms-flex-align: flex-end;
	align-items: flex-end;
}
@mixin justify-content_fx-st {
	-webkit-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
}
@mixin justify-content_fx-end {
	-webkit-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
}
@mixin justify-content_s-a {
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
}
@mixin justify-content_center {
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}
@mixin justify-content_s-b {
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
@mixin flex-wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
@mixin flex-basis($width) {
	-webkit-flex-basis: $width;
	-ms-flex-basis: $width;
	flex-basis: $width;
}
@mixin btn_hover {
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0px;
		width: 100%;
		height: 100%;
		background: #fff;
		z-index: -1;
		-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
		transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
		-webkit-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
		transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
	}
	&:hover {
		color: #000;
	}
	&:hover::before {
		content: '';
		opacity: 1;
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
		-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	}
}
@mixin underline {
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: initial;
		right: 0;
		width: 0;
		height: 2px;
		background: #ffffff;
		transition: all .3s linear;
	}
	&:hover::before {
		right: initial;
		left: 0;
		width: 100%;
	}
}
@mixin btn_hover-2 {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: initial;
		right: 0;
		width: 0;
		height: 100%;
		background: #ffffff;
		transition: all .3s linear;
		z-index: -1;
	}
	&:hover {
		color: #000000;
		&::before {
			right: initial;
			left: 0;
			width: 100%;
		}
	}
}
body {
	// font-family: 'Open Sans', sans-serif;
	font-family: "Montserrat",Helvetica,Arial,sans-serif;
	margin: 0;
	font-size: 18px;
	line-height: 1.22222;
	color: #fff;
}
* {
	box-sizing: border-box;
}
.container {
	max-width: 1700px;
	margin: auto;
}
.img_responsive {
	display: block;
	width: 100%;
	height: auto;
	margin: auto;
}
.my_btn {
	display: inline-block;
	position: relative;
	// border: 1px solid #fff;
	width: 100%;
	max-width: 235px;
	text-align: center;
	cursor: pointer;
	background: #D0F00A;
	transition: all .2s linear;
	padding: 22px 10px;
	// text-transform: uppercase;
	color: #010A21;
	overflow: hidden;
	z-index: 0;
	font-weight: 800;
	font-size: 24px;
	@include btn_hover-2;
	&::before {
		background: #fff;
	}
	&:hover {
		color: #000;
	}
}
h1 {
	display: inline-block;
	font-size: 60px;
	color: #ffffff;
	// text-align: center;
	// font-family: 'Neucha', cursive;
	// font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	margin: 0;
	padding-bottom: 10px;
    border-bottom: 3px solid #fff;
}	
h2 {
	font-size: 36px;
	font-weight: 800;
	color: #D0F00A;
	text-shadow: 0px 4px 4px rgba(208, 240, 10, 0.15);
}
h3 {
	font-size: 20px;
	color: #D0F00A;
}
h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin: 0;
	color: #072EFC;
}
p {
	margin: 0;
}
header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	min-height: 40px;
	z-index: 2;
	.container {
		width: 100%;
		max-width: 1550px;
		margin: auto;
		position: relative;
		padding: 42px 20px 25px;
		overflow: hidden;
		@include flex;
		@include justify-content_s-b;
		@include align-items;
		.logo {
			display: block;
			.strong {
				float: left;
				text-align: left;
				img {
					display: block;
					width: 100%;
					height: auto;
					max-width: 50px;
				}
				.logo_text {
					display: inline-block;
					max-width: 110px;
					vertical-align: bottom;
					p {
						color: #fff;
						font-size: 18px;
						font-weight: bold;
						text-align: center;
						text-transform: uppercase;
						margin: 0;
						line-height: 1.2;
						font-family: "Times New Roman", sans-serif;
					}
				}
				.head {
					text-transform: uppercase;
					font-weight: 900;
				}
				.text {
					&:before {
						content: "";
						position: absolute;
						left: 0;
						top: 50%;
						-webkit-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						transform: translateY(-50%);
						width: 30px;
						height: 30px;
						background: url(../images/hammer.png);
						background-repeat: no-repeat;
					}				
				}
			}	
		}	
		nav {
			display: inline-block;
			text-align: center;
			margin-top: 10px;
			position: relative;
			z-index: 1;
			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;
				li {
					display: inline-block;
					a {
						color: #fff;
						font-size: 18px;
						font-weight: 600;
						display: inline-block;
						padding: 5px 0px;
						// text-transform: uppercase;
						text-decoration: none;
						position: relative;
						overflow: hidden;
						background: transparent;
						@include underline;
					}	
					&:not(:last-of-type) a {
						margin-right: 20px;
					}				
				}
			}
		}	
		.box_callback {
			text-align: right;
			.box_tel {
				text-align: center;
				background-image: url(../images/icon_phone.svg);
				background-repeat: no-repeat;
				background-position: center left;
				padding-left: 30px;
				.tel {
					color: #ffffff;
					text-decoration: none;
					position: relative;
					@include underline;
				}
			}		
		}	
		.burger {
			display: none;
			position: absolute;
			top: 0;
			right: 25px;
			-webkit-transform: translateX(50%);
			-moz-transform: translateX(50%);
			-o-transform: translateX(50%);
			-ms-transform: translateX(50%);
			transform: translateX(50%);
			width: 42px;
			height: 35px;
			cursor: pointer;
			overflow: hidden;
		}
		.burger span {
			position: absolute;
		    left: 12px;
		    top: 19px;
		    text-indent: 9900px;
		    width: 26px;
		    height: 1px;
		    background: #fff;
		    -webkit-transition: all .3s ease-out;
		    transition: all .3s ease-out;
		}
		.burger:before,
		.burger:after {
			content: '';
			position: absolute;
		    left: 12px;
		    top: 12px;
		    width: 26px;
		    height: 1px;
		    background: #fff;
		    -webkit-transition: -webkit-transform .2s ease-out, top .2s .2s ease-out;
		    transition: transform .2s ease-out, top .2s .2s ease-out;
		}
		.burger:after {
			top: 26px;
		}
	}	
	.menu-opened {
		.burger:before,
		.burger:after {
			top: 19px;
		    -webkit-transition: top .2s ease-out, -webkit-transform .2s .2s ease-out;
		    transition: top .2s ease-out, transform .2s .2s ease-out;
		}
		.burger:before {
			-webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		    transform: rotate(45deg);
		}
		.burger:after {
			-webkit-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		    transform: rotate(-45deg);
		}
		.burger span {
			opacity: 0;
		    -webkit-transform: scale(0.3);
		    -ms-transform: scale(0.3);
		    transform: scale(0.3);
		}			
	}	
}
.header-scroll {
	background: #000;
	// background: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,.3));
	.container {
		padding: 0px 20px;
	}
}
.section-1 {
	background-image: url(../images/bg_main.svg);
	background-position: bottom right;
    background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 48vw;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(2, 2, 2, 0.8);
	}
	.box_content {
		position: relative;
		padding: 10px;
		height: 100%;
		.box_describe {
			position: relative;
			// margin: 235px auto 240px 187px;
			margin: 12.24vw auto 0 9.74vw;
			// max-width: 700px;
			max-width: 36.458vw;
			.my_btn {
				// max-width: 235px;
				max-width: 12.239vw;
				// padding: 22px 10px;
				padding: 1.1458vw .52vw;
				// font-size: 24px;
				font-size: 1.25vw;
			}
		}
		.title {
			font-weight: 800;
			// font-size: 48px;
			font-size: 2.5vw;
		}
		.text_describe {
			font-weight: 600;
			// font-size: 18px;
			font-size: .9375vw;
			// margin: 39px 0 73px;
			margin: 2.03vw 0 3.8vw;
		}
		.box_advantage {
			position: absolute;
			@include flex;
			@include align-items;
			.box_img {
				@include flex;
				@include justify-content_center;
				@include align-items;
				// width: 100px;
				width: 5.2vw;
				// height: 100px;
				height: 5.2vw;
				background: radial-gradient(50% 50% at 50% 50%, #D0F00A 0%, rgba(208, 240, 10, 0));
				svg {
					width: 1.6666vw;
					height: 1.6666vw;
				}
			}
			.box_text {
				// margin-left: 15px;
				margin-left: .78vw;
				p {
					// max-width: 166px;
					max-width: 8.645vw;
					// font-size: 16px;
					font-size: .8333vw;
					font-family: 'Roboto', sans-serif;
				}
			}
		}
		.box_advantage-1 {
			// top: 245px;
			top: 12.76vw;
			// right: 373px;
			right: 19.427vw;
		}
		.box_advantage-2 {
			// top: 417px;
			top: 21.7vw;
			// right: 196px;
			right: 10.2vw;
		}
		.box_advantage-3 {
			// bottom: 218px;
			bottom: 11.354vw;
			// right: 326px;
			right: 16.979vw;
			.box_text p {
				// max-width: 230px;
				max-width: 11.979vw;
			}
		}
		.box_advantage-4 {
			// bottom: 78px;
			bottom: 4.06vw;
			// right: 572px;
			right: 29.79vw;
			.box_text p {
				// max-width: 233px;
				max-width: 12.135vw;
			}
		}
		.box_figure-1 {
			position: absolute;
			right: 0;
			// width: 18px;
			width: .9375vw;
			// top: 79px;
			top: 4.1vw;
			// bottom: 42px;
			bottom: 4.1vw;
			// border: 1px solid #D0F00A;
			border: .052vw solid #D0F00A;
			border-right: none;
		}
		.box_figure-2 {
			position: absolute;
			left: 0;
			// height: 73px;
			height: 3.8vw;
			// width: 101px;
			width: 5.26vw;
			// bottom: 11px;
			bottom: .57vw;
			border: .052vw solid #D0F00A;
			border-left: none;
		}
		.box_figure-3 {
			position: absolute;
			// left: 9px;
			left: 0.468vw;
			// width: 123px;
			width: 6.4vw;
			// height: 103px;
			height: 5.36vw;
			// bottom: 11px;
			bottom: .57vw;
			border: .052vw solid #D0F00A;
		}
	}
}
.section_bg {
	background: linear-gradient(180deg, #030117 21.35%, rgba(2, 9, 33, 0.88) 100%);
}
.section_stock,
.section_portfolio {
	padding: 85px 40px 30px;
	.box_content {
		max-width: 1575px;
		margin: 24px auto 0;
		h2 {
			margin-left: 20px;
			margin-bottom: 0;
			font-size: 30px;
		}
		>p {
			font-size: 24px;
			margin-left: 20px;
		}
		.slider-1,
		.box_portfolio {
			margin-top: 89px;
			.item {
				padding: 10px;
				outline: none;
				.box {
					max-width: 470px;
					margin: auto;
					position: relative;
					.box_img {
						box-shadow: 0px 4px 30px rgba(7, 46, 252, 0.5);
						img {
							display: block;
							width: 100%;
							height: auto;
						}
					}
					.box_text {
						max-width: 260px;
						margin: 33px auto 0;
						text-align: center;
						h3 {
							margin: 0;
						}
						.price {
							text-align: center;
							color: #032BFC;
							font-size: 24px;
							margin-top: 22px;
						}
					}
					.show_template {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						outline: none;
					}
				}
			}
		}
	}
}
.section_services {
	.box_content {
		position: relative;
		max-width: 1073px;
		height: 555px;
		margin: 133px auto 0;
		.box_title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 503px;
			height: 291px;
			.box_inner {
				height: 100%;
				@include flex;
				@include justify-content_center;
				@include align-items;
				position: relative;
				background-image: url(../images/sct-services_img-1.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				h2 {
					text-shadow: 0px 4px 4px rgba(208, 240, 10, 0.15);
					margin: 0;
					// margin-bottom: -13px;
				}
			}
		}
		.box_services {
			.box_mini {
				border: 1px solid #D0F00A;
				border-radius: 5px;
				position: absolute;
				width: 267px;
				height: 45px;
				padding: 8px;
				@include flex;
				@include justify-content_center;
				@include align-items;
				p {
					font-size: 18px;
					font-weight: bold;
					color: #072efc;
					text-align: center;
				}
			}
			.box_mini-1 {
				top: 0;
				left: 219px;
			}
			.box_mini-2 {
				top: 85px;
				left: 69px;
			}
			.box_mini-3 {
				top: 170px;
				left: 37px;
			}
			.box_mini-4 {
				top: 255px;
				left: 12px;
			}
			.box_mini-5 {
				bottom: 170px;
				left: 37px;
			}
			.box_mini-6 {
				bottom: 85px;
				left: 69px;
			}
			.box_mini-7 {
				bottom: 0;
				left: 222px;
			}
			.box_mini-8 {
				top: 0;
				right: 271px;
			}
			.box_mini-9 {
				top: 85px;
				right: 63px;
			}
			.box_mini-10 {
				top: 170px;
				right: 17px;
			}
			.box_mini-11 {
				top: 255px;
				right: -12px;
			}
			.box_mini-12 {
				bottom: 170px;
				right: 17px;
			}
			.box_mini-13 {
				bottom: 85px;
				right: 63px;
			}
			.box_mini-14 {
				bottom: 0;
				right: 267px;
			}
		}
	}
}
.section_portfolio {
	padding-top: 10px;
	.box_content {
		margin-top: 0;
		h2 {
			font-size: 36px;
			margin: 50px 0 0;
		}
		.tabs {
			margin-top: 50px;
			.text {
				max-width: 700px;
				margin: 0 0 30px;
				background: #FFF;
				border: 2px solid #7DCA86;
				border-radius: 5px;
				padding: 7px 15px;
				box-sizing: border-box;
			}
			.tabs {
				max-width: 700px;
				margin: 0 0 30px;
			}
			.tabs__caption {
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				list-style: none;
				position: relative;
				margin: -1px 0 0 -1px;
			}
			.tabs__caption li:last-child:before {
				content: '';
				position: absolute;
				bottom: -5px;
				left: 0;
				right: -2px;
				z-index: -1;
				height: 5px;
				background: #7DCA86;
			}
			.tabs__caption:after {
				content: '';
				display: table;
				clear: both;
			}
			.tabs__caption li {
				padding: 9px 15px;
				margin: 1px 0 0 1px;
				background: #D0F00A;
				color: #030117;
				position: relative;
				border: 1px solid #D0F00A;
				border-width: 2px 2px 0;
				border-radius: 5px;
				text-align: center;
				min-width: 250px;
				&:first-of-type {
					margin-right: 10px;
				}
			}
			.tabs__caption li:not(.active) {
				cursor: pointer;
			}
			// .tabs__caption li:not(.active):hover {
			// 	background: #030117;
			// 	border-color: #D0F00A;
			// }
			.tabs__caption .active {
				background: transparent;
				color: #D0F00A;
				border-color: #072efc;
				border-bottom: 1px solid #072efc;
			}
			.tabs__content {
				display: none;
				border-radius: 5px;
				padding: 7px 15px;
			}
			.tabs__content.active {
				display: block;
			}
			  
			.vertical .tabs__caption {
				float: left;
				display: block;
			}
			.vertical .tabs__caption li {
				float: none;
				border-width: 2px 0 2px 2px;
				border-radius: 5px 0 0 5px;
			}
			.vertical .tabs__caption li:last-child:before {
				display: none;
			}
			.vertical .tabs__caption .active:after {
				left: auto;
				top: 0;
				right: -2px;
				bottom: 0;
				width: 2px;
				height: auto;
			}
			.vertical .tabs__content {
				overflow: hidden;
			}	  
		}
		.box_portfolio {
			@include flex;
			@include flex-wrap;
			margin-top: 83px;
			.item {
				@include flex-basis(33.33%);
				margin-bottom: 20px;
				.box .box_text {
					margin-top: 30px;
					.price {
						margin-top: 15px;
					}
				}
			}
		}
	}
}
.section_reviews {
	padding: 50px 44px 150px;
	background-image: url(../images/services_bg.jpg);
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(2, 10, 35, 0.95);
	}
	.box_content {
		position: relative;
		max-width: 1575px;
		margin: 47px auto 0;
		h2 {
			margin-left: 20px;
		}
		.slider-2 {
			margin-top: 79px;
			.item {
				padding: 30px 5px 5px;
				outline: none;
				.box {
					border: 1px solid #D0F00A;
					border-radius: 5px;
					max-width: 352px;
					margin: auto;
					padding: 20px;
					position: relative;
					.box_img {
						position: absolute;
						top: -10px;
						left: 30px;
						width: 66px;
						height: 66px;
						img {
							border-radius: 50%;
						}
					}
					.box_text {
						h4 {
							text-align: center;
						}
						p {
							font-family: 'Roboto', sans-serif;
							margin-top: 30px;
							font-size: 15px;
						}
					}
				}
			}
		}
	}
}
.section_contacts {
	margin: auto;
	// padding: 20px 20px 50px;
	padding: 1.04vw 1.04vw 2.6vw;
	background: #030117;
	position: relative;
	h3 {
		text-align: center;
	}
	.box_content {
		@include left-right;
		// margin-top: 28px;
		margin-top: 1.458vw;
		.box_left {
			.box_img {
				img {
					display: block;
					width: 100%;
					height: auto;
					// max-width: 664px;
					max-width: 34.58vw;
					// margin-top: 37px;
					margin-top: 1.927vw;
					// margin-left: 55px;
					margin-left: 2.86vw;
				}
			}
		}
		.box_right {
			// background-image: url(../images/section-contacts_img-2.png);
			// background-repeat: no-repeat;
			// background-size: contain;
			.box_contacts {
				position: relative;
				// max-width: 780px;
				max-width: 40.625vw;
				// margin: auto;
				img {
					display: block;
					width: 100%;
					height: auto;
				}
			}
			.box_inner {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				// padding: 60px 10px 10px;
				padding: 3.125vw .52vw .52vw;
				// max-width: 436px;
				max-width: 22.7vw;
				// margin-left: 26%;
				margin-left: 10.57vw;
				// margin: auto;
			}
			h3 {
				color: #020F55;
				// font-size: 26px;
				font-size: 1.35vw;
				text-align: left;
				// margin-top: 21px;
				margin-top: 1.09vw;
			}
			.box_top {
				// margin-top: 35px;
				margin-top: 1.82vw;
				max-width: 250px;
				a {
					display: inline-block;
					text-decoration: none;
					color: #000018;
					font-style: italic;
					font-weight: 600;
					// font-size: 20px;
					font-size: 1.04vw;
					// padding: 5px 5px 5px 40px;
					padding: .26vw .26vw .26vw 2.08vw;
					background-repeat: no-repeat;
					// background-size: 32px;
					background-size: 1.66vw;
					background-position: left center;
					&:not(:last-of-type) {
						// margin-bottom: 12px;
						margin-bottom: .625vw;
					}
					&:hover {
						text-decoration: underline;
					}
				}
				.phone {
					background-image: url(../images/icon_phone-2.svg);
				}
				.mail {
					background-image: url(../images/icon_mail.svg);
				}
				.behance {
					background-image: url(../images/icon_behance.svg);
				}
				.instagram {
					background-image: url(../images/icon_instagram.svg);
				}
			}
			.box_buttons {
				// margin-top: 80px;
				margin-top: 4.166vw;
				@include flex;
				@include justify-content_s-b;
				@include align-items;
			}
			.box_messendger {
				display: inline-block;
				a {
					display: inline-block;
					// width: 35px;
					width: 1.82vw;
					// height: 35px;
					height: 1.82vw;
					transition: all .2s linear;
					&:not(:last-of-type) {
						// margin-right: 10px;
						margin-right: .52vw;
					}
					&:hover {
						transform: scale(1.1);
					}
				}
				.viber {
					background-image: url(../images/icon_viber.svg);
					background-repeat: no-repeat;
					background-size: cover;
					// width: 29px;
					width: 1.51vw;
					height: 1.51vw;
				}
				.telegram {
					background-image: url(../images/icon_telegram.svg);
					background-repeat: no-repeat;
					background-size: cover;
					// width: 31px;
					width: 1.614vw;
					height: 1.3vw;
				}
				.skype {
					background-image: url(../images/icon_skype.svg);
					background-repeat: no-repeat;
					background-size: cover;
					// width: 28px;
					width: 1.458vw;
					height: 1.458vw;
				}
			}
			.my_btn {
				background: #072EFC;
				// border-radius: 5px;
				border-radius: .26vw;
				// max-width: 220px;
				max-width: 11.458vw;
				// font-size: 18px;
				font-size: .9375vw;
				color: #ffffff;
				// padding: 14px 10px;
				padding: .729vw .52vw;
				&::before {
					background: #D0F00A;
				}
				&:hover {
					color: #072efc;
				}
			}
		}
	}
	.box_figure-1 {
		position: absolute;
		right: 0;
		// width: 36px;
		width: 1.875vw;
		// height: 120px;
		height: 6.25vw;
		// bottom: 26px;
		bottom: 1.35vw;
		border: .052vw solid #D0F00A;
		border-right: none;
	}
	.box_figure-2 {
		position: absolute;
		// right: 8px;
		right: .4166vw;
		// width: 65px;
		width: 3.385vw;
		// height: 106px;
		height: 5.52vw;
		bottom: 0px;
		border: .052vw solid #D0F00A;
		border-bottom: none;
	}
}
#toTop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 39px;
    height: 40px;
    border-radius: 7px;
	background: #020A23;
    cursor: pointer;
    opacity: 0.5;
    transition: all .25s linear;
    z-index: 999;
	border: 1px solid #fff;
	span {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 13px;
			left: 23px;
			width: 17px;
			height: 17px;
			border-top: 5px solid #fff;
			border-right: 5px solid #fff;
			-webkit-transform: rotate(-45deg) translate(-50%, -50%);
			-moz-transform: rotate(-45deg) translate(-50%, -50%);
			-o-transform: rotate(-45deg) translate(-50%, -50%);
			-ms-transform: rotate(-45deg) translate(-50%, -50%);
			transform: rotate(-45deg) translate(-50%, -50%);
		}
	}
	&:hover {
		opacity: 1;
	}
} 
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1000; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#myModal {
	padding: 0!important;
	text-align: center;
	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -4px;
	}
	.modal-dialog {
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		width: 95%;
		max-width: 350px;
		.modal-content {
			border-radius: 0;
			border: 1px solid #fff;
			position: relative;
			padding: 1px 10px;
			animation-name: animatetop;
			animation-duration: 0.5s;
			background: #1289E5;
			position: relative;
			.modal-header {
				border-bottom: 0;
				position: relative;
				padding-top: 15px;
				h4 {
					font-size: 30px;
					color: #fff;
					margin: 30px 0 0;
					font-weight: 600;
					text-align: center;
				}
				button {
					position: absolute;
					top: 10px;
					right: 7px;
					margin: 0;
					background: transparent;
					background-image: url(../images/popup-close.png);
					background-repeat: no-repeat;
					background-position: 0 0px;
					width: 37px;
					height: 37px;
					border: none;
					font-size: 26px;
					text-align: center;
					opacity: 1;
					cursor: pointer;
					&:focus {
						outline: none;
					}
					&:hover {
						background-position: 0 -40px;
					}
				}
			}
			.modal-body {
				padding-top: 20px;
				padding-bottom: 25px;
				max-width: 350px;
				margin: auto;
				text-align: center;
				position: relative;
				label {
					font-size: 20px;
					color: #333;
					width: 100%;
					text-indent: 10px;
					margin: 0;
				}
				.form-group {
					display: block;
					margin: 0 auto 15px;
					input,
					textarea {
						width: 100%;
						font-size: 20px;
						margin-top: 0px;
						border: none;
						border-bottom: 1px solid #000;
						background: transparent;
						border: 1px solid #fff;
						padding: 10px;
						text-transform: uppercase;
						opacity: .8;
						color: #ffffff;
						&::placeholder {
							color: #ffffff;
						}
					}
				}
				.my_btn {
					display: inline-block;
					margin: 0px auto 0;
					font-size: 20px;
					text-transform: uppercase;
					background: #ffd71e;
					border: 1px solid #fff;
					vertical-align: middle;
					padding: 8px 10px;
					background: transparent;
					color: #fff;
					width: 100%;
					overflow: hidden;
					z-index: 1;
					position: relative;
					cursor: pointer;
					&:focus {
						outline: none;
					}
					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 0px;
						width: 100%;
						height: 100%;
						background: #ffed9bfc;
						z-index: -1;
						-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
						transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
						-webkit-transform-origin: 0% 100%;
						transform-origin: 0% 100%;
						-webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
						transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
					}
					&:hover {
						color: #168eeb;	
						&::before {
							content: '';
							opacity: 1;
							-webkit-transform: rotate3d(0, 0, 1, 0deg);
							transform: rotate3d(0, 0, 1, 0deg);
							-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
							transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
						}
					}
				}
			}
		}
	}
}
#text,
#text_modal,
#text_main {
	color: #000;
	text-align: center;
	margin-top: 10px;
}
#text {
	color: #000000;
}
.slick-prev,
.slick-next {
	width: 35px;
	height: 35px;
	border: 1px solid #072EFC;
	border-radius: 50%;
}
.slick-prev {
	left: -35px;
}
.slick-next {
	right: -35px;
}
.slick-prev:before, 
.slick-next:before {
	content: '';
	position: absolute;
	opacity: 1;
	width: 13px;
	height: 13px;
	border-top: 2px solid #D0F00A;
	border-left: 2px solid #D0F00A;
	transform: rotate(-45deg) translate(10%, -60%);
}
.slick-next:before {
	border-bottom: 2px solid #D0F00A;
	border-right: 2px solid #D0F00A;
	border-left: none;
	border-top: none;
	transform: rotate(-45deg) translate(-15%, -85%);
}
@media (max-width: 1500px) {
	.section_service .box_content .box_left .box_text {
		padding: 0 20px;
	}
	.section-2,
	.section-4 { 
		.box_content {
			.box_left {
				width: 63%;
				.box_img img {
					height: 500px;
				}
			}
			.box_right {
				@include justify-content_fx-st;
				width: 37%;
				.box_text {
					max-width: 100%;
					padding-right: 40px;
				}
			}
		}
	}
	.section-3,
	.section-5 {
		.box_left {
			padding-left: 40px;
			@include justify-content_fx-st;
			.box_text {
				max-width: 100%;
			}
		}
		.box_right .box_img img {
			height: 500px;
		}
	}
	.section-5 .box_right .box_img {
		overflow: visible;
		img {
			margin-left: -70px;
		}
	}
}
@media (max-width: 1300px) {
	.section_services {
		.box_content {
			max-width: 82.538vw;
			height: 42.69vw;
			margin: 1.846vw auto 0;
			.box_title {
				width: 38.69vw;
				height: 22.384vw;
				h2 {
					margin-bottom: -1vw;
				}
			}
			.box_services {
				.box_mini {
					border: 0.0769vw solid #D0F00A;
					border-radius: .3846vw;
					width: 20.538vw;
					height: 3.46vw;
					padding: .615vw;
					p {
						font-size: 1.38vw;
					}
				}
				.box_mini-1 {
					left: 16.846vw;
				}
				.box_mini-2 {
					top: 6.538vw;
					left: 5.3vw;
				}
				.box_mini-3 {
					top: 13.07vw;
					left: 2.846vw;
				}
				.box_mini-4 {
					top: 19.615vw;
					left: 0.92vw;
				}
				.box_mini-5 {
					bottom: 13.076vw;
					left: 2.846vw;
				}
				.box_mini-6 {
					bottom: 6.538vw;
					left: 5.3vw;
				}
				.box_mini-7 {
					left: 17.07vw;
				}
				.box_mini-8 {
					right: 20.846vw;
				}
				.box_mini-9 {
					top: 6.538vw;
					right: 4.846vw;
				}
				.box_mini-10 {
					top: 13.07vw;
					right: 1.3vw;
				}
				.box_mini-11 {
					top: 19.615vw;
					right: -.923vw;
				}
				.box_mini-12 {
					bottom: 13.07vw;
					right: 1.3vw;
				}
				.box_mini-13 {
					bottom: 6.538vw;
					right: 4.846vw;
				}
				.box_mini-14 {
					right: 20.538vw;
				}
			}
		}
	}
}
@media (max-width: 1200px) {
	h1 {
		font-size: 60px;
	}	
	header {
		.container {
			padding: 10px 20px;
		}
	}
	.section-1 .box_content .box-bottom {
		margin-bottom: 12px;
	}
	.section_service .box_content .box_right .box {
		width: 545px;
		height: 400px;
		&::before {
			content: '';
			background-size: cover;
		}
	}
	.section-2,
	.section-4 {
		.box_content {
			.box_left .box_img img {
				height: 500px;
			}
			.box_right .box_text {
				max-width: 100%;
			}
		}
	}
	.section-2 .box_content {
		.box_left {
			width: 60%;
		}
		.box_right {
			width: 40%;
		}
	}
	.section_portfolio .box_content .box {
		@include flex-basis(50%);
	}
}
@media (max-width: 992px) {
	h2 {
		font-size: 26px;
	}
	header .container {
		nav ul li {
			a {
				padding: 10px 8px;
				font-size: 16px;
			}
			&:not(:last-of-type) a {
				margin-right: 0px;
			}
		}
		.box_callback {
			.my_btn {
				font-size: 13px;
			}
			.box_tel {
				padding-left: 25px;
				background-size: 16px;
				.tel {
					font-size: 14px;
				}
			}
		}
	}
	.section-1 .box_content {
		.text_describe {
			font-size: 1.1vw;
		}
		.box_advantage {
			.box_img {
				width: 6.2vw;
				height: 6.2vw;
				svg {
					width: 1.9vw;
					height: 1.9vw;
				}
			}
			.box_text p {
				max-width: 10.8vw;
				font-size: 1vw;
			}
		}
		.box_advantage-3 .box_text p {
			max-width: 14.5vw;
		}
		.box_advantage-4 .box_text p {
			max-width: 15.135vw;
		}
	}
	.section_stock .box_content {
		> p {
			font-size: 20px;
		}
		.slider-1 {
			margin-top: 60px;
		}
	}
	.section_portfolio .box_content .box_portfolio .item {
		@include flex-basis(50%);
	}
	#toTop img {
	    display: none;
	}
	header .container nav ul li .my_btn {
		max-width: 160px;
	}
	.section_contacts {
		padding: 20px 20px 50px;
		.box_content {
			margin-top: 28px;
			.box_left {
				display: none;
				.box_img {
					img {
						max-width: 664px;
						margin-top: 37px;
						margin-left: 55px;
					}
				}
			}
			.box_right {
				width: 100%;
				.box_contacts {
					max-width: 780px;
					margin: auto;
				}
				.box_inner {
					padding: 60px 10px 10px;
					max-width: 436px;
					margin-left: 26%;
				}
				h3 {
					font-size: 26px;
					margin-top: 21px;
				}
				.box_top {
					margin-top: 35px;
					a {
						font-size: 20px;
						padding: 5px 5px 5px 40px;
						background-size: 32px;
						&:not(:last-of-type) {
							margin-bottom: 12px;
						}
					}
				}
				.box_buttons {
					margin-top: 80px;
				}
				.box_messendger {
					a {
						width: 35px;
						height: 35px;
						&:not(:last-of-type) {
							margin-right: 10px;
						}
					}
					.viber {
						width: 29px;
						height: 29px;
					}
					.telegram {
						width: 31px;
						height: 25px;
					}
					.skype {
						width: 28px;
						height: 28px;
					}
				}
				.my_btn {
					border-radius: 5px;
					max-width: 220px;
					font-size: 18px;
					padding: 14px 10px;
				}
			}
		}
		.box_figure-1 {
			width: 36px;
			height: 120px;
			bottom: 26px;
			border: 1px solid #D0F00A;
		}
		.box_figure-2 {
			right: 8px;
			width: 65px;
			height: 106px;
			bottom: 0px;
			border: 1px solid #D0F00A;
		}
	}
}
@media (max-width: 850px) {
	.section_contacts {
		// padding: 20px 20px 50px;
		padding: 2.35vw 2.35vw 5.88vw;
		.box_content {
			// margin-top: 28px;
			margin-top: 3.29vw;
			.box_left {
				display: none;
			}
			.box_right {
				width: 100%;
				.box_contacts {
					// max-width: 780px;
					max-width: 91.76vw;
				}
				.box_inner {
					// padding: 60px 10px 10px;
					padding: 7.058vw 1.176vw 1.176vw;
					// max-width: 436px;
					max-width: 51.29vw;
					margin-left: 23.88vw;
				}
				h3 {
					// font-size: 26px;
					font-size: 3.05vw;
					// margin-top: 21px;
					margin: 2.47vw 0 3.1vw;
				}
				.box_top {
					// margin-top: 35px;
					margin-top: 4.117vw;
					a {
						// font-size: 20px;
						font-size: 2.35vw;
						// padding: 5px 5px 5px 40px;
						padding: .588vw .588vw .588vw 4.7vw;
						// background-size: 32px;
						background-size: 3.76vw;
						&:not(:last-of-type) {
							// margin-bottom: 12px;
							margin-bottom: 1.4vw;
						}
					}
				}
				.box_buttons {
					// margin-top: 80px;
					margin-top: 9.4vw;
				}
				.box_messendger {
					a {
						// width: 35px;
						width: 4.1vw;
						// height: 35px;
						height: 4.1vw;
						&:not(:last-of-type) {
							// margin-right: 10px;
							margin-right: 1.17vw;
						}
					}
					.viber {
						// width: 29px;
						width: 3.4vw;
						// height: 29px;
						height: 3.4vw;
					}
					.telegram {
						// width: 31px;
						width: 3.647vw;
						height: 3vw;
					}
					.skype {
						// width: 28px;
						width: 3.29vw;
						height: 3.29vw;
					}
				}
				.my_btn {
					// border-radius: 5px;
					border-radius: .588vw;
					// max-width: 220px;
					max-width: 25.88vw;
					// font-size: 18px;
					font-size: 2.117vw;
					// padding: 14px 10px;
					padding: 1.647vw 1.176vw;
				}
			}
		}
		.box_figure-1 {
			// width: 36px;
			width: 4.235vw;
			// height: 120px;
			height: 14.117vw;
			// bottom: 26px;
			bottom: 3.05vw;
			// border: 1px solid #D0F00A;
			border: .117vw solid #D0F00A;
		}
		.box_figure-2 {
			// right: 8px;
			right: .94vw;
			// width: 65px;
			width: 7.647vw;
			// height: 106px;
			height: 12.47vw;
			bottom: 0px;
			border: .117vw solid #D0F00A;
		}
	}
}
@media (max-width: 768px) {
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 16px;
	}
	header {
		.container {
			padding: 10px 45px 10px 20px;
			.burger {
				display: block;
			}
			nav {
			    position: fixed;
			    top: 47px;
			    left: 0;
			    background-color: #000;
			    height: 100%;
			    width: 100%;
			    padding: 10px;
			    z-index: 999;
			    overflow-x: hidden;
			    overflow-y: auto;
			    visibility: hidden;
			    -ms-transform: translate3d(-100%, 0, 0);
			    -webkit-transform: translate3d(-100%, 0, 0);
			    transform: translate3d(-100%, 0, 0);
			    -webkit-transition: all 0.5s ease-in-out 0s;
			    transition: all 0.5s ease-in-out 0s;
			    border: 1px solid #e6e6e6;
			    margin-top: 0;
				ul {
					list-style-type: none;
					padding: 0;
					margin-bottom: 0;
					li {
						display: block;		
					}
				}					
			}			
		}
		.menu-opened nav {
		    visibility: visible;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);	
		}			
	}
	.header-scroll .container {
		padding: 5px 45px 5px 20px;
	}	
	.section-1 {
		.box_content {
			.p-1 {
				font-size: 20px;
			}
		}
	}
	.section_stock .box_content {
		h2 {
			margin-left: 0;
		}
		> p {
			font-size: 16px;
			margin-left: 0;
		}
	}
	.section_portfolio .box_content .tabs .tabs__caption {
		padding-left: 0;
		li {
			min-width: 145px;
		}
	}
	.section_contacts .box_content {
		@include left-right-100;
		.box_right {
			margin-top: 50px;
		}
	}
	#toTop {
		display: none;
	}
}
@media screen and (max-width: 650px) {
	.tabs__caption li {
	  -webkit-flex: 1 0 auto;
	  -ms-flex: 1 0 auto;
	  flex: 1 0 auto;
	}
	.vertical .tabs__caption {
	  float: none;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	}
	.vertical .tabs__caption li {
	  border-width: 2px 2px 0;
	  border-radius: 5px 5px 0 0;
	}
	.vertical .tabs__caption li:last-child:before {
	  display: block;
	}
	.vertical .tabs__caption .active:after {
	  top: auto;
	  bottom: -5px;
	  left: 0;
	  right: 0;
	  width: auto;
	  height: 5px;
	  background: #FFF;
	}
}
@media (max-width: 600px) {
	h1 {
		font-size: 44px;
	}
	.section-1 {
		height: auto;
		.box_content {
			padding: 10px 20px 45px 20px;
			.box_describe {
				margin: 70px auto 0 0px;
				max-width: 100%;
				.my_btn {
					max-width: 150px;
					padding: 15px 10px;
					font-size: 16px;
				}
			}
			.title {
				font-size: 20px;
			}
			.text_describe {
				font-size: 14px;
			}
			.box_advantages {
				@include flex;
				@include flex-wrap;
				margin-top: 30px;
			}
			.box_advantage {
				position: static;
				@include flex-basis(50%);
				margin-bottom: 20px;
				padding-right: 10px;
				.box_img {
					width: 55px;
					height: 55px;
					min-width: 55px;
					svg {
						width: 20px;
						height: 20px;
					}
				}
				.box_text p,
				&.box_advantage-3 .box_text p {
					max-width: 200px;
					font-size: 14px;
				}
			}
			.box_figure-1 {
				width: 10px;
				top: 45px;
				bottom: 20px;
				border: 1px solid #D0F00A;
			}
			.box_figure-2 {
				height: 27px;
				width: 40px;
				bottom: 5px;
				border: 1px solid #D0F00A;
			}
			.box_figure-3 {
				left: 5px;
				width: 50px;
				height: 40px;
				bottom: 5px;
				border: 1px solid #D0F00A;
			}
		}
	}
	.section_stock, 
	.section_portfolio {
		padding: 50px 40px;
	}
	.section_services {
		padding: 0px 20px 30px;
		background-image: url(../images/services_bg.png);
		background: rgba(2, 10, 35, 0.95);
		.box_content {
			max-width: 100%;
			height: auto;
			margin: 0px auto 0;
			.box_title {
				position: static;
				width: auto;
				height: 48.5vw;
				transform: translate(0, 0);
				.box_inner {
					background-size: contain;
				}
				h2 {
					font-size: 36px;
					margin-bottom: 50px;
				}
			}
			.box_services {
				text-align: center;
				.box_mini {
					position: static;
					border: 1px solid #D0F00A;
					border-radius: 5px;
					width: 300px;
					height: auto;
					padding: 10px;
					margin: 0 auto 20px;
					p {
						font-size: 18px;
					}
				}
			}
		}
	}
	.section_portfolio .box_content .box_portfolio {
		margin-top: 60px;
	}
	#myModal-1 {
		.modal-dialog .modal-content .modal-header h4 {
			font-size: 24px;
		}
	}
	#myModal-1 {
		.modal-dialog .modal-content .modal-body {
			text-align: center;
			.form-group {
				max-width: 340px;
			}
		}
	}
}
@media (max-width: 480px) {
	h1 {
		font-size: 44px;
	}
	header .container nav {
		top: 62px;
	}
	.section-1 .box_content .box_advantage .box_text p, 
	.section-1 .box_content .box_advantage.box_advantage-3 .box_text p {
		font-size: 12px;
	}
	.section_stock .box_content h2, .section_portfolio .box_content h2 {
		font-size: 24px;
	}
	.section_portfolio .box_content .box_portfolio .item {
		@include flex-basis(100%);
	}
	.section_contacts .box_content .box_right {
		.box_contacts img {
			height: 87vw;
		}
		.box_top a {
			font-size: 3.35vw;
			padding: .588vw .588vw .588vw 6.2vw;
			background-size: 3.76vw;
		}
		.box_buttons {
			display: block;
			margin-top: 5.4vw;
			.box_messendger {
				display: block;
				a:not(:last-of-type) {
					margin-right: 3.17vw;
				}
				.viber {
					width: 7.4vw;
					height: 7.4vw;
				}
				.telegram {
					width: 6.875vw;
					height: 5.83vw;
				}
				.skype {
					width: 7.29vw;
					height: 7.29vw;
				}
			}
		}
		.my_btn {
			border-radius: .988vw;
			max-width: 31.88vw;
			font-size: 3.117vw;
			padding: 2.647vw 2.176vw;
			margin-top: 2vw;
		}
	}
	#myModal-1 {
		.modal-dialog .modal-content {
			.modal-header h4 {
				font-size: 28px;
				margin: 55px 0 0;
			}
			.modal-body {
				.form-group {
					max-width: 100%;
					margin-bottom: 20px;
				}
				.modal-body .my_btn {
					font-size: 18px;
				}
			}
		}
	}
}
@media (max-width: 400px) {
	h1 {
		font-size: 35px;
	}
	header .container {
		.logo .strong .logo_text {
			max-width: 80px;
			p {
				color: #fff;
				font-size: 18px;
				font-weight: bold;
				text-align: center;
				margin: 0;
				line-height: 1.2;
				font-family: "Times New Roman", sans-serif;
			}
		}
		.box_callback .my_btn {
			font-size: 10px;
		}
	}
	.section-1 .box_content .box_advantage {
		@include flex-basis(100%);
		padding-right: 0px;
	}
	.section_stock, .section_portfolio {
		padding: 30px 40px;
	}
	.section_services .box_content .box_services .box_mini {
		width: 100%;
	}
	.section_portfolio {
		padding: 30px 25px;
		.box_content .tabs .tabs__caption li {
			margin-right: 0;
			width: 100%;
			&:first-of-type {
				margin-right: 0px;
				margin-bottom: 15px;
			}
		}
	}
	.section_reviews {
		padding: 30px 10px 70px;
		.box_content .slider-2 .item {
			padding: 30px 0px 5px;
			.box {
				padding: 20px 40px;
			}
		}
	}
	.section_contacts .box_content .box_right .box_contacts img {
		height: 92vw;
	}
	.slider-2 {
		.slick-prev {
			left: 5px;
		}
		.slick-next {
			right: 5px;
		}
	}
}



#popup__toggle{bottom:25px;right:10px;position:fixed;z-index:999;}
.img-circle{background-color:#29AEE3;box-sizing:content-box;-webkit-box-sizing:content-box;}
.circlephone{box-sizing:content-box;-webkit-box-sizing:content-box;border: 2px solid #29AEE3;width:150px;height:150px;bottom:-25px;right:10px;position:absolute;-webkit-border-radius:100%;-moz-border-radius: 100%;border-radius: 100%;opacity: .5;-webkit-animation: circle-anim 2.4s infinite ease-in-out !important;-moz-animation: circle-anim 2.4s infinite ease-in-out !important;-ms-animation: circle-anim 2.4s infinite ease-in-out !important;-o-animation: circle-anim 2.4s infinite ease-in-out !important;animation: circle-anim 2.4s infinite ease-in-out !important;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.circle-fill{box-sizing:content-box;-webkit-box-sizing:content-box;background-color:#29AEE3;width:100px;height:100px;bottom:0px;right:35px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.img-circle{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;bottom: 14px;right: 49px;position:absolute;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;opacity: .7;}
.img-circleblock{box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;background-image:url(../images/mini.png);background-position: center center;background-repeat:no-repeat;animation-name: tossing;-webkit-animation-name: tossing;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
.img-circle:hover{opacity: 1;}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
  50% {transform: scale(1); opacity: 1; }   
  100% {transform: scale(0.9);opacity: 1;}}
 @-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
  50% {-webkit-transform: scale(1);opacity: 1;}   
  100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
  0% {transform: rotate(-8deg);}
  50% {transform: rotate(8deg);}
  100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
  0% {-webkit-transform: rotate(-8deg);}
  50% {-webkit-transform: rotate(8deg);}
  100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
  0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
  30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
  100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
  30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
  100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
  0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
  30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
  100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
  0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
  30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
  100% {transform: rotate(0deg) scale(1) skew(1deg);
opacity: .1;}}
@-moz-keyframes circle-fill-anim {
  0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
  100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
  50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
  100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
  0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
  0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}


  @keyframes animation_phone {
	0% {
		bottom: 60px;
		right: 65%;
	}
	100% {
		bottom: 5px;
		right: 69%;
	}
  }

  
  

