/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";

html {
	height: 100%;
}
body {
	margin: 0;
	font: 16px 'Open Sans', Arial, sans-serif;
	color: #fff;
	height: 100%;
}
* {
	box-sizing: border-box;
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
h1 {
	font-size: 100px;
	font-weight: 400;
	letter-spacing: 4px;
	color: #000000;
}
h2 {
	font-size: 42px;
	text-align: center;
	margin: 50px 0 0;
	color: #fff;
	text-shadow: 1px 1px 10px #000, -1px -1px 10px #000;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	.container {
		max-width: 1200px;
		margin: auto;
	}
	.header-contacts {
		display: inline-block;
		float: left;
		font-size: 20px;
		padding: 12px;
		a {
			display: inline-block;
			text-decoration: none;
			color: #fff;
			text-shadow: 1px 1px 10px #000, -1px -1px 10px #000;
		}
	}
	.onepage-pagination {
		position: static!important;
		list-style-type: none;
		li {
			a {
				width: auto!important;
				height: auto!important;
				&::before {
					content: none;
				}
			}
		}
	}
	.navigation {
		padding-right: 10px;
		padding-left: 10px;
		text-align: center;			
		nav {
			display: inline-block;
			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;
				li {
					display: inline-block;
					a {
						font-size: 16px;
						font-weight: bold;
						display: block;
						padding: 15px 11px 7px;
						text-transform: uppercase;
						text-decoration: none;
						color: #fff;
						text-shadow: 1px 1px 10px #000, -1px -1px 10px #000;
					}
					a:hover,
					.active {
					    box-shadow: inset 0 -3px 0 #fff;
					}
					a:focus {
						text-decoration: none;
					}						
				}
				.li-close-menu {
					display: none;
				}
			}
		}			
		.burger {
			display: none;
			position: absolute;
			top: 0;
			right: 50%;
			-webkit-transform: translateX(50%);
			-moz-transform: translateX(50%);
			-o-transform: translateX(50%);
			-ms-transform: translateX(50%);
			transform: translateX(50%);
			width: 62px;
			height: 35px;
			cursor: pointer;
			z-index: 1000;
		}
		.burger span {
			position: absolute;
		    left: 12px;
		    top: 19px;
		    text-indent: 9900px;
		    width: 26px;
		    height: 3px;
		    background: #fff;
		    box-shadow: 1px 1px 5px #000, -1px -1px 5px #000;
		    -webkit-transition: all .3s ease-out;
		    transition: all .3s ease-out;
		}
		.burger:before,
		.burger:after {
			content: '';
			position: absolute;
		    left: 12px;
		    top: 12px;
		    width: 26px;
		    height: 3px;
		    background: #fff;
		    box-shadow: 1px 1px 5px #000, -1px -1px 5px #000;
		    -webkit-transition: -webkit-transform .2s ease-out, top .2s .2s ease-out;
		    transition: transform .2s ease-out, top .2s .2s ease-out;
		}
		.burger:after {
			top: 26px;
		}
	}	
	.menu-opened {
		.burger:before,
		.burger:after {
			top: 19px;
		    -webkit-transition: top .2s ease-out, -webkit-transform .2s .2s ease-out;
		    transition: top .2s ease-out, transform .2s .2s ease-out;
		}
		.burger:before {
			-webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		    transform: rotate(45deg);
		}
		.burger:after {
			-webkit-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		    transform: rotate(-45deg);
		}
		.burger span {
			opacity: 0;
		    -webkit-transform: scale(0.3);
		    -ms-transform: scale(0.3);
		    transform: scale(0.3);
		}			
	}
}
.wrapper {
	height: 100%;
}
.box_main {
	position: relative;
	padding: 10px;
	height: 100%;
}
.lines {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
    position: absolute;
    bottom: 11.5vw;
    right: -7vw;
	.line {
		background: #ffffff;
		height: 1px;
		margin-left: auto;
		margin-bottom: 10px;
		width: 5vw;
	}
	.line-2,
	.line-5 {
		height: 4px;
	}
	.line-1 {
		width: 9vw;
	}
	.line-2 {
		width: 18vw;
		margin-bottom: 3px;
	}
	.line-3 {
		width: 29vw;
		margin-bottom: 7px;
	}
	.line-4 {
		width: 20vw;
		margin-bottom: 1.7vw;
	}
	.line-5 {
		width: 16vw;
	}
}
.page1 {
	padding-top: 55px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
	position: relative;
	.box_main {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: space-around;
		-moz-justify-content: space-around;
		-o-justify-content: space-around;
		-ms-justify-content: space-around;
		justify-content: space-around;
		p {
			font-size: 100px;
			font-size: 5.2vw;
			font-weight: 400;
			letter-spacing: 4px;
			color: #000000;
			margin: 0;
		}
		.p-2 {
			font-family: 'capture_itregular';
			font-size: 6vw;
		}
	}
}
.page2 {
	background: #e90000;
	background: -webkit-linear-gradient(-167deg, #e90000, #a00000 60%, #490100);
	background: -moz-linear-gradient(-167deg, #e90000, #a00000 60%, #490100);
	background: -o-linear-gradient(-167deg, #e90000, #a00000 60%, #490100);
	background: -ms-linear-gradient(-167deg, #e90000, #a00000 60%, #490100);
	background: linear-gradient(-167deg, #e90000, #a00000 60%, #490100);
	padding: 55px 0px 0;
	h2 {
		margin-top: 0;
		font-size: 12.4vw;
	}
	.box {
		max-width: 60vw;
		margin: 0px auto 0;
		text-align: center;
		p {
			font-size:2.8vw;
			margin: 15px 0;
			color: #ffff00;
		}
	}
}
.page3 {
	background: #053d65;
	// background: -webkit-linear-gradient(-157deg, #053d65, #aaf0fa 50%, #073f66);
	// background: -moz-linear-gradient(-157deg, #053d65, #aaf0fa 50%, #073f66);
	// background: -o-linear-gradient(-157deg, #053d65, #aaf0fa 50%, #073f66);
	// background: -ms-linear-gradient(-157deg, #053d65, #aaf0fa 50%, #073f66);
	// background: linear-gradient(-157deg, #053d65, #387593 30%, #aaf0fa 50%, #387593 70%, #073f66);
	text-align: center;
	padding: 55px 10px 45px;
	h2 {
		font-size: 23vw;
		text-align: left;
		margin-top: 0;
		line-height: 1;
	}
	.box {
		margin-top: -9vw;
		float: right;
		max-width: 45%;
		position: relative;
		p {
			color: #00ff00;
			font-size: 2.3vw;
			font-weight: bold;
		}
	}
	.lines {
		right: -12vw;
		top: 17vw;
		bottom: auto;
		.line-1 {
			width: 43vw;
		}
		.line-2 {
			width: 52vw;
			margin-bottom: 3px;
		}
		.line-3 {
			width: 63vw;
		}
		.line-4 {
			width: 54vw;
		}
		.line-5 {
			width: 50vw;
		}
	}
}
.page4 {
	background: #aaf0fa;
	background: -webkit-linear-gradient(-196deg, #007800, #007900 35%, #a9ff21 50%, #eaff2e 60%, #eaff2e 100%);
	background: -moz-linear-gradient(-196deg, #007800, #007900 35%, #a9ff21 50%, #eaff2e 60%, #eaff2e 100%);
	background: -o-linear-gradient(-196deg, #007800, #007900 35%, #a9ff21 50%, #eaff2e 60%, #eaff2e 100%);
	background: -ms-linear-gradient(-196deg, #007800, #007900 35%, #a9ff21 50%, #eaff2e 60%, #eaff2e 100%);
	background: linear-gradient(-196deg, #007800, #007900 35%, #a9ff21 50%, #eaff2e 60%, #eaff2e 100%);
	text-align: center;
	padding: 55px 10px 45px;
	h2 {
		font-size: 10.5vw;
		text-align: left;
		margin-top: 0;
		line-height: 1;
	}
	.box {
		margin: auto;
		max-width: 730px;
		position: relative;
		p {
			color: #360000;
			font-size: 1.6vw;
			font-weight: bold;
			text-shadow: -1px -1px #bb5218, 1px 1px #bb5218;
		}
	}
	.p-4 {
		font-size: 10.5vw;
		color: #000000;
		margin-top: 20px;
		margin-bottom: 0;
		text-shadow: none;
		text-align: right;
	}
}
.page5 {
	background: #783c78;
	text-align: center;
	padding: 55px 10px 45px;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 170px;
		background: -webkit-linear-gradient(to bottom, rgba(255,255,255,.9), rgba(255,255,255,.0) 170px);
		background: -moz-linear-gradient(to bottom, rgba(255,255,255,.9), rgba(255,255,255,.0) 170px);
		background: -o-linear-gradient(to bottom, rgba(255,255,255,.9), rgba(255,255,255,.0) 170px);
		background: -ms-linear-gradient(to bottom, rgba(255,255,255,.9), rgba(255,255,255,.0) 170px);
		background: linear-gradient(to bottom, rgba(255,255,255,.9), rgba(255,255,255,.0) 170px);
	}
	h2 {
		font-size: 36px;
		margin-top: 0;
	}
	.box {
		margin: auto;
		max-width: 730px;
		position: relative;
		p {
			color: #360000;
			font-size: 32px;
			font-weight: bold;
			text-shadow: -1px -1px #bb5218, 1px 1px #bb5218;
		}
		.p-4 {
			font-size: 115px;
			color: #000000;
			margin-top: 20px;
			text-shadow: none;
		}
	}
}
.page6 {
	background: #1e6423;
	text-align: center;
	padding: 55px 10px 45px;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 220px;
		background: -webkit-linear-gradient(to bottom, rgba(255,255,255,.9), rgba(255,255,255,.0) 170px);
		background: -moz-linear-gradient(to bottom, rgba(255,255,255,.9), rgba(255,255,255,.0) 170px);
		background: -o-linear-gradient(to bottom, rgba(255,255,255,.9), rgba(255,255,255,.0) 170px);
		background: -ms-linear-gradient(to bottom, rgba(255,255,255,.9), rgba(255,255,255,.0) 170px);
		background: linear-gradient(to bottom, rgba(255,255,255,.0) 0px, rgba(255,255,255,.7) 50%, rgba(255,255,255,.0));
	}
	h2 {
		font-size: 80px;
		margin-top: 0;
	}
	.box {
		margin: auto;
		max-width: 730px;
		position: relative;
		p {
			color: #360000;
			font-size: 32px;
			font-weight: bold;
			text-shadow: -1px -1px #bb5218, 1px 1px #bb5218;
		}
		.p-4 {
			font-size: 115px;
			color: #000000;
			margin-top: 20px;
			text-shadow: none;
		}
	}
}
.page7 {
	background: url(../images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	padding: 55px 10px 45px;
	.box_main {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-o-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	h2 {
		font-size: 80px;
		margin-top: 0;
	}
	.box {
		margin: auto;
		position: relative;
		a {
			display: inline-block;
			color: #000;
			font-size: 100px;
			font-weight: bold;
			text-decoration: none;
			font-family: 'Lobster', cursive;
			transition: all .2s linear;
			&:hover {
				color: #001d8a;
			}
		}
		.link-2 {
			font-family: "Times New Roman";
			margin-top: 5vw;
		}
		.p-4 {
			font-size: 115px;
			color: #000000;
			margin-top: 20px;
			text-shadow: none;
		}
	}
}
.body-portfolio {
	header {
	    background: rgba(248,232,217,0.9);
	}
}

.onepage-pagination.onepage-pagination li {
	a:before {
		background: #fff;
		box-shadow: 0px 0px 3px 1px #000;
	}
	a.active:before {
	    width: 7px;
	    height: 7px;
	    border: 3px solid #fff;
	    left: 6px;
	    background-color: transparent;
	}
}
.cbalink,
div[style="text-align:center;font-size:11px;font-family:arial;background-color:black;color:white"] {
	display: none;
}
@media (max-width: 1500px) {
	.page4 .box p {
		font-size: 2.1vw;
	}
}
@media (max-width: 1200px) {
	.page7 .box a {
		font-size: 88px;
	}
}
@media (max-width: 992px) {
	.box_main {
		padding: 10px 25px;
	}
	.lines {
		bottom: 23.5vw;
		right: -10vw;
		.line-1 {
			width: 29vw;
		}
		.line-2 {
			width: 38vw;
		}
		.line-3 {
			width: 49vw;
		}
		.line-4 {
			width: 40vw;
		}
		.line-5 {
			width: 36vw;
		}
	}
	.page2 {
	    h2 {
			font-size: 120px;
		}
		.box {
			max-width: 100%;
			p {
				font-size: 34px;
			}
		}
	}
	.page3 {
	    h2 {
			font-size: 120px;
			text-align: center;
		}
		.box {
			max-width: 100%;
			float: none;
			margin-top: 0;
			p {
				font-size: 34px;
			}
		}
		.lines {
			right: -14vw;
		}
	}
	.page4 {
	    h2 {
			font-size: 120px;
			text-align: center;
		}
		.box {
			max-width: 100%;
			p {
				font-size: 24px;
			}
		}
		.p-4 {
			text-align: center;
			font-size: 108px;
		}
	}
	.page7 .box a {
		font-size: 64px;
	}
	header {
		.navigation {
			padding-right: 0;
			.burger {
				display: block;
			    top: 10px;
				right: 0px;
				-ms-transform: translatex(0);
				-moz-transform: translatex(0);
				-o-transform: translatex(0);
				-webkit-transform: translatex(0);
				transform: translatex(0);
			}
			nav {
			    position: fixed;
			    top: 0px;
			    left: 0;
			    background-color: rgba(0,0,0,.5);
			    height: 100%;
			    width: 100%;
			    padding: 10px;
			    z-index: 999;
			    overflow-x: hidden;
			    overflow-y: auto;
			    visibility: hidden;
			    -ms-transform: translate3d(-100%, 0, 0);
			    -webkit-transform: translate3d(-100%, 0, 0);
			    transform: translate3d(-100%, 0, 0);
			    -webkit-transition: all 0.5s ease-in-out 0s;
			    transition: all 0.5s ease-in-out 0s;
			    border: 1px solid #e6e6e6;
				ul {
					list-style-type: none;
					padding: 0;
					margin-bottom: 0;
					li {
						display: block;	
						a {
							display: inline-block;
						}	
					}
					.li-close-menu {
						text-align: right;
					}
					.close-menu {
						text-align: right;
						cursor: pointer;
						text-transform: uppercase;
					}
				}					
			}			
		}
		.menu-opened nav {
		    visibility: visible;
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);	
			ul li a {
			    font-size: 14px;
			}	
		}
	}	
}

@media (max-width: 768px) {
	.lines {
		right: -12vw;
	}
	.page7 .box a {
		font-size: 50px;
	}
}
@media (max-width: 700px) {

}
@media (max-width: 599px) {
	.onepage-wrapper .section,
	.wrapper {
	    height: auto;
	}
	h1 {
		font-size: 32px;
	}
	.lines {
		display: none;
	}
	header .onepage-pagination {
	    display: block !important;
	}
	.page1 {
		padding-top: 20px;
		.box_main .p-2 {
			font-family: 'capture_itregular';
			font-size: 4.7vw;
		}
	}
	.page2 {
		padding-top: 20px;
		padding-bottom: 20px;
		h2 {
			margin: 0 0 40px;
		}
		.box {
		    margin: 0;
		    height: auto;
		}
	}
	.page3 {
		padding: 20px 10px;
		h2 {
		    margin: 0 0 40px;
		}
		.box {
		    height: auto;
	    	margin-top: 0;
		}
	}
	.page4 .p-4 {
		font-size: 86px;
	}
	.page4,
	.page5,
	.page6 {
		padding: 20px 10px;
	}
	.page7 {
		padding: 20px 10px;
		h2 {
			font-size: 74px;
			margin-top: 0;
		}
		.box a {
			font-size: 40px;
			margin-top: 50px;
		}
	}
}

@media (max-width: 480px) {
	h2 {
		font-size: 30px;
	}
	.box_main {
		padding: 10px;
	}
	.lines {
		display: none;
		bottom: 23.5vw;
		right: -12vw;
	}
	.page1 .box_main p {
		font-size: 5.1vw;
	}
	.page2 .box p {
		font-size: 24px;
	}	
	.page3 .box p {
		font-size: 24px;
	}	
	.page4 .box {
		p {
			font-size: 24px;
		}
	}
	.page4 .p-4 {
		font-size: 72px;
	}
	.page6 h2 {
		font-size: 64px;
	}
	.page7 {
		h2 {
			font-size: 70px;
		}
		.box a {
			font-size: 34px;
			margin-top: 50px;
		}
	}
}
@media (max-width: 400px) {
	.page2,
	.page3,
	.page4 {
		h2 {
			font-size: 105px;
		}	
		.box p {
			font-size: 20px;
		}
	}
	.page4 h2 {
		font-size: 90px;
	}
	.page4 .p-4 {
		font-size: 56px;
	}
	.page6 h2 {
		font-size: 50px;
	}
	.page7 {
		h2 {
			font-size: 50px;
		}
		.box a {
			font-size: 26px;
			margin-top: 50px;
		}
	}
}

